<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.order.bussiness.dao.ExpressMapper">

	<resultMap type="com.zm.order.pojo.bo.ExpressTemplateBO" id="template">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
		<result column="template_name" property="templateName" jdbcType="VARCHAR" />
		<result column="free_post_fee" property="freePost" jdbcType="INTEGER" />
		<result column="free_tax_fee" property="freeTax" jdbcType="INTEGER" />
		<result column="enable" property="enable" jdbcType="INTEGER" />
		<result column="rule_name" property="ruleName" jdbcType="VARCHAR" />
		<collection property="expressList" ofType="com.zm.order.pojo.ExpressFee">
			<id column="ef_id" property="id" jdbcType="INTEGER" />
			<result column="fee" property="fee" />
			<result column="weight" property="weight" />
			<result column="heavy_fee" property="heavyFee" />
			<result column="include_province" property="includeProvince" />
		</collection>
		<collection property="ruleBindList" ofType="com.zm.order.pojo.bo.ExpressRuleBind">
			<id column="bind_id" property="id" jdbcType="INTEGER" />
			<result column="ruleId" property="ruleId" />
			<result column="paramId" property="paramId" />
			<result column="parameter" property="paramKey" />
			<result column="parameter_value" property="param" />
			<result column="rule_description" property="description" />
		</collection>
	</resultMap>
	
	<insert id="saveExpressTemplate" parameterType="Object" useGeneratedKeys="true" keyProperty="id">
		 insert into express_template (supplier_id,template_name,free_post_fee,free_tax_fee,enable,create_time,opt,rule_name)
		 values(#{supplierId},#{templateName},#{freePost},#{freeTax},#{enable},now(),#{opt},#{ruleName}) 
	</insert>
	
	<insert id="saveExpressBatch" parameterType="Object">
		insert into express_fee (template_id,fee,weight,heavy_fee,include_province,create_time) 
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.templateId},#{item.fee},#{item.weight},#{item.heavyFee},#{item.includeProvince},now())
		</foreach>
	</insert>
	
	<select id="getExpressTemplateById" parameterType="Object" resultMap="template">
		select et.id,et.supplier_id,et.template_name,et.free_post_fee,et.free_tax_fee,
		ef.id as ef_id,ef.fee,ef.weight,ef.heavy_fee,ef.include_province,er.parameter,
		rp.parameter_value,er.rule_description,rt.id as bind_id,rp.id as paramId,er.id as ruleId  
		from express_template et left join express_fee ef on et.id = ef.template_id 
		left join rule_template rt on et.id = rt.template_id 
		left join rule_parameter rp on rp.id = rt.parameter_id 
		left join express_rule er on rp.rule_id = er.id
		where et.id = #{id}
	</select>
	
	<select id="selectExpressForPage" resultMap="template" parameterType="Object">
		select * from express_template where 1=1 
		<if test="templateName != null and templateName != ''">
			and template_name like concat('%',#{templateName},'%') 
		</if>
		<if test="supplierId != null and supplierId != ''">
			and supplier_id = #{supplierId}
		</if>
		<!-- mybatis 会把0识别为null -->
		<if test="enable != null and enable != '' or enable == 0">
			and enable = #{enable}
		</if>
		order by create_time desc
	</select>
	
	<update id="updateDisableBySupplierId" parameterType="Object">
		update express_template set enable = 0 where supplier_id = #{supplierId}
	</update>
	
	<update id="updateEnable" parameterType="Object">
		update express_template set enable = 1 where id = #{id}
	</update>
	
	<update id="update" parameterType="Object">
		update express_template 
		<set>
			<if test="templateName != null and templateName != ''">
				template_name = #{templateName},
			</if>
			<if test="freePost != null and freePost != '' or freePost == 0">
				free_post_fee = #{freePost},
			</if>
			<if test="freeTax != null and freeTax != '' or freeTax == 0">
				free_tax_fee = #{freeTax},
			</if>
			<if test="enable != null and enable != '' or enable == 0">
				enable = #{enable},
			</if>
			rule_name = #{ruleName},
			update_time = now()
		</set>
		where id = #{id}
	</update>
	
	<update id="updateExpressBatch" parameterType="Object">
		<foreach collection="list" item="item" separator=";" >
			update express_fee 
			<set>
				<if test="item.fee != null and item.fee != ''">
					fee = #{item.fee},
				</if>
				<if test="item.weight != null and item.weight != ''">
					weight = #{item.weight},
				</if>
				<if test="item.heavyFee != null and item.heavyFee != ''">
					heavy_fee = #{item.heavyFee},
				</if>
				<if test="item.includeProvince != null and item.includeProvince != ''" >
					include_province = #{item.includeProvince},
				</if>
				update_time = now()
			</set>
			where id = #{item.id}
		</foreach>
	</update>
	
	<delete id="delExpressFee" parameterType="Object">
		delete from express_fee where id = #{id}
	</delete>
	
	<insert id="saveRuleBindBatch" parameterType="Object">
		insert into rule_template(rule_id,template_id,parameter_id,create_time) values 
		<foreach collection="list" item="item" separator=",">
			(#{item.ruleId},#{item.templateId},#{item.paramId},now())
		</foreach>
	</insert>

	<update id="updateRuleBindBatch" parameterType="Object">
		<foreach collection="list" item="item" separator=";" >
			update rule_template 
			<set>
				<if test="item.ruleId != null and item.ruleId != '' or item.ruleId == 0">
					rule_id = #{item.ruleId},
				</if>
				<if test="item.paramId != null and item.paramId != '' or item.paramId == 0">
					parameter_id = #{item.paramId},
				</if>
				update_time = now()
			</set>
			where id = #{item.id}
		</foreach>
	</update>
	
	<delete id="delRuleBind" parameterType="Object">
		delete from rule_template where id = #{id}
	</delete>
	
	<select id="listRule" parameterType="Object" resultType="com.zm.order.pojo.po.ExpressRulePO">
		select id,rule_description as description,parameter as param from express_rule
	</select>
	
	<select id="listRuleParam" parameterType="Object" resultType="com.zm.order.pojo.po.RuleParameterPO">
		select id, parameter_value as param from rule_parameter where rule_id=#{id}
	</select>
	
	<insert id="addRuleParam" parameterType="Object">
		insert into rule_parameter(rule_id,parameter_value,create_time) values 
		(#{ruleId},#{param},now())
	</insert>
	
	<select id="listExpressRule" parameterType="Object" resultType="com.zm.order.pojo.bo.ExpressRule">
		select rule_id as type,parameter_value as json from rule_parameter where id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
</mapper>