<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.order.bussiness.dao.OrderOpenInterfaceMapper">

	<resultMap type="com.zm.order.pojo.OrderStatus" id="orderStatus">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="order_id" property="orderId" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="abnormalMsg" property="abnormalMsg" jdbcType="VARCHAR" />
		<collection ofType="com.zm.order.pojo.ExpressDetail"
			property="expressList">
			<id column="orderExpress_id" property="id" jdbcType="INTEGER" />
			<result column="express_name" property="expressName" jdbcType="VARCHAR" />
			<result column="express_id" property="expressId" jdbcType="VARCHAR" />
		</collection>
	</resultMap>
	
	<select id="getOrderStatus" resultMap="orderStatus" parameterType="Object">
		select o.id,o.status,o.order_id,t.id as orderExpress_id, t.express_name,t.express_id,
		t.status as abnormalMsg from order_base o left join third_order_info t on o.order_id = t.order_id 
		where o.order_id = #{orderId}
	</select>
	

</mapper>