<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.goods.activity.front.dao.BargainMapper">

	
	<resultMap type="com.zm.goods.activity.model.bargain.po.UserBargainPO" id="userBargain">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="goods_role_id" property="goodsRoleId" jdbcType="INTEGER"/>
		<result column="status" property="start" jdbcType="BOOLEAN"/>
		<result column="init_price" property="initPrice" jdbcType = "DOUBLE"/>
		<result column="floor_price" property="floorPrice" jdbcType = "DOUBLE"/>
		<result column="user_id" property="userId" jdbcType="INTEGER"/>
		<result column="duration" property="duration" jdbcType="INTEGER"/>
		<result column="item_id" property="itemId" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
		<result column="opt" property="opt" jdbcType="VARCHAR"/>
		<collection property="bargainList"
			ofType="com.zm.goods.activity.model.bargain.po.BargainRecordPO">
			<id column="recordId" property="id" jdbcType="INTEGER"/>
			<result column="id" property="goodsRecordId" jdbcType="INTEGER"/>
			<result column="sub_create_time" property="createTime" jdbcType="VARCHAR"/>
			<result column="sub_user_id" property="userId" jdbcType="INTEGER"/>
			<result column="bargain_price" property="bargainPrice" jdbcType="INTEGER"/>
			<result column="buy" property="buy" jdbcType="BOOLEAN"/>
			<result column="user_name" property="userName" jdbcType="VARCHAR"/>
			<result column="user_img" property="userImg" jdbcType="VARCHAR"/>
		</collection>
	</resultMap>
	
	<resultMap type="com.zm.goods.activity.model.ActiveGoods" id="activeGoods">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="item_id" property="itemId" jdbcType="VARCHAR"/>
		<result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
		<result column="path" property="path" jdbcType = "VARCHAR"/>
		<result column="description" property="description" jdbcType = "VARCHAR"/>
		<result column="origin" property="origin" jdbcType="VARCHAR"/>
		<result column="stock" property="stock" jdbcType="INTEGER"/>
		<result column="init_price" property="initPrice" jdbcType = "DOUBLE"/>
		<result column="floor_price" property="floorPrice" jdbcType = "DOUBLE"/>
	</resultMap>
	
	<resultMap type="com.zm.goods.activity.model.bargain.po.BargainRulePO" id="bargainRule">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="activity_id" property="activityId" jdbcType="INTEGER"/>
		<result column="item_id" property="itemId" jdbcType="VARCHAR"/>
		<result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
		<result column="path" property="path" jdbcType = "VARCHAR"/>
		<result column="description" property="description" jdbcType = "VARCHAR"/>
		<result column="end_time" property="endTime" jdbcType="VARCHAR"/>
		<result column="start_time" property="startTime" jdbcType="VARCHAR"/>
		<result column="init_price" property="initPrice" jdbcType = "DOUBLE"/>
		<result column="floor_price" property="floorPrice" jdbcType = "DOUBLE"/>
		<result column="min_ratio" property="minRatio" jdbcType = "INTEGER"/>
		<result column="max_ratio" property="maxRatio" jdbcType = "INTEGER"/>
		<result column="max_count" property="maxCount" jdbcType = "INTEGER"/>
		<result column="first_min_ratio" property="firstMinRatio" jdbcType = "INTEGER"/>
		<result column="first_max_ratio" property="firstMaxRatio" jdbcType = "INTEGER"/>
		<result column="type" property="type" jdbcType = "INTEGER"/>
		<result column="duration" property="duration" jdbcType = "INTEGER"/>
		<result column="less_min_price" property="lessMinPrice" jdbcType = "DOUBLE"/>
	</resultMap>
	
	<select id="listBargainNormalByUserId" parameterType="Object" resultMap="userBargain">
		select agr.id, agr.status, agr.init_price, agr.floor_price, 
		DATE_FORMAT(agr.create_time,'%Y-%m-%d %H:%i:%s') as create_time, agr.update_time, agr.user_id, 
		agp.id as recordId, DATE_FORMAT(agp.create_time,'%Y-%m-%d %H:%i:%s') as sub_create_time, agp.user_id as sub_user_id, agp.bargain_price, 
		agp.buy, agro.duration,  agro.item_id from 
		activity_goods_record agr left join 
		activity_goods_participant agp on agr.id = agp.goods_record_id  left join 
		activity_goods_role agro on agr.goods_role_id = agro.id 
		where agro.type = 1 and agr.is_del = 0 and agr.user_id = #{userId}
		<if test="(start != null and start != '') or start == 0">
			<if test="start == 1">
				and agr.status = 1 and (agp.buy = 0 and agp.user_id=#{userId})
			</if>
			<if test="start == 0">
				and agr.status = 0 or (agp.buy = 1 and agp.user_id=#{userId})
			</if>
		</if>
	</select>
	
	<select id="listBargainChainsByUserId" parameterType="Object" resultMap="userBargain">
		select agr.id, agr.status, agr.init_price, agr.floor_price, 
		DATE_FORMAT(agr.create_time,'%Y-%m-%d %H:%i:%s') as create_time, agr.update_time, agr.user_id, 
		agp.id as recordId, DATE_FORMAT(agp.create_time ,'%Y-%m-%d %H:%i:%s') as sub_create_time, agp.user_id as sub_user_id, agp.bargain_price, 
		agp.buy, agro.duration,  agro.item_id from 
		activity_goods_record agr left join 
		activity_goods_participant agp on agr.id = agp.goods_record_id  left join 
		activity_goods_role agro on agr.goods_role_id = agro.id 
		where agro.type = 2 and agr.is_del = 0 and agp.user_id = #{userId}
		<if test="(start != null and start != '') or start == 0">
			<if test="start == 1">
				and agr.status = 1 and (agp.buy = 0 and agp.user_id=#{userId})
			</if>
			<if test="start == 0">
				and (agr.status = 0 or (agp.buy = 1 and agp.user_id=#{userId}))
			</if>
		</if>
	</select>
	
	<select id="getRuleTypeByUserBargainId" parameterType="Object" resultType="java.lang.Integer">
		select agro.type from activity_goods_record agr left join activity_goods_role agro on agr.goods_role_id = agro.id 
		where agr.id = #{id}
	</select>
	
	<select id="listActiceGoods" parameterType="Object" resultMap="activeGoods">
		select g.id, g.goods_name, g.description, g.origin, gs.fxqty as stock, gf.path, gi.item_id   
		from goods g left join goods_item gi on g.goods_id = gi.goods_id 
		left join goods_stock gs on gs.item_id = gi.item_id 
		left join goods_file gf on g.goods_id = gf.goods_id 
		where gi.item_id in 
		<foreach collection="list" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
		group by g.goods_id,gi.item_id
	</select>
	
	<select id="getBargainDetailByParam" parameterType="Object" resultMap="userBargain">
		select agr.id, agr.status, agr.init_price, agr.floor_price, 
		DATE_FORMAT(agr.create_time,'%Y-%m-%d %H:%i:%s') as create_time, 
		agr.update_time, agr.user_id, 
		agp.id as recordId, DATE_FORMAT(agp.create_time,'%Y-%m-%d %H:%i:%s') as sub_create_time, agp.user_id as sub_user_id, agp.user_name, 
		agp.user_img, agp.bargain_price, agp.buy, agro.duration,  agro.item_id from 
		activity_goods_record agr left join 
		activity_goods_participant agp on agr.id = agp.goods_record_id  left join 
		activity_goods_role agro on agr.goods_role_id = agro.id 
		where agr.id = #{id} and agr.is_del = 0 
		<if test="accurate == yes">
			<if test="type == 1">
				and agr.user_id = #{userId}
			</if>
			<if test="type == 2">
				and agp.user_id = #{userId}
			</if>
		</if>
		order by agp.create_time desc
	</select>

	<select id="listBargainGoodsForPage" parameterType="Object" resultMap="bargainRule">
		select * from activity_goods_role 
		<if test="list != null and list.size > 0">
			where id not in 
			<foreach collection="list" open="(" close=")" separator="," item="item">
				#{item}
			</foreach>
		</if>
		order by floor_price asc
	</select>
	
	<select id="listBargainCount" parameterType="Object" resultType="com.zm.goods.activity.model.bargain.bo.BargainCountBO">
		select goods_role_id as id ,count(*) as count from activity_goods_record where goods_role_id in 
		<foreach collection="list" open="(" close=")" item="item" separator=",">
			#{item}
		</foreach>
		group by goods_role_id
	</select>
	
	<update id="updateUserBargainOver" parameterType="Object">
		update activity_goods_record set status = 0, update_time = now() where user_id = #{userId} and id = #{id}
	</update>
	
	
	<update id="updateUserBargainOverByIds" parameterType="Object">
		update activity_goods_record set status = 0, update_time = now() where id in 
		<foreach collection="list" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
	</update>
	
	
	<select id="getBargainRuleById" parameterType="Object" resultMap="bargainRule">
		select * from activity_goods_role where id = #{id}
	</select>
	
	<insert id="saveUserBargain" parameterType="Object" useGeneratedKeys="true" keyProperty="id">
		insert into activity_goods_record (goods_role_id,user_id,init_price,floor_price,status,create_time)
		select #{goodsRoleId},#{userId},#{initPrice},#{floorPrice},#{start},now() from DUAL 
		where not exists (select user_id from activity_goods_record where goods_role_id=#{goodsRoleId} and user_id=#{userId} and is_del = 0);
	</insert>
	
	<insert id="saveBargainRecord" parameterType="Object">
		insert into activity_goods_participant(goods_record_id,user_id,bargain_price,buy,create_time,user_name,user_img) 
		values
		(#{goodsRecordId},#{userId},#{bargainPrice},#{buy},now(),#{userName},#{userImg})
	</insert>
	
	<select id="getUserBargainById" parameterType="Object" resultMap="userBargain">
		select agr.id, agr.goods_role_id, agr.status, agr.init_price, agr.floor_price, 
		DATE_FORMAT(agr.create_time,'%Y-%m-%d %H:%i:%s') as create_time,
		agp.id as recordId, agp.user_id as sub_user_id, agp.bargain_price, agr.user_id,
		agp.buy from 
		activity_goods_record agr left join 
		activity_goods_participant agp on agr.id = agp.goods_record_id
		where agr.id = #{id} and agr.is_del = 0
	</select>
	
	<update id="updateBargainGoodsBuy" parameterType="Object" >
		update activity_goods_participant set buy = true, update_time = now() where id = #{id}
	</update>
	
	<select id="listGoodsRoleIdsByUserId" parameterType="Object" resultType="java.lang.Integer">
		select goods_role_id from activity_goods_record where user_id = #{userId}
	</select>
	
	<update id="updateUserBargainDel" parameterType="Object">
		update activity_goods_record set is_del = 1,status = 0 where id = #{id} and user_id = #{userId}
	</update>
	
</mapper>