<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.goods.bussiness.dao.BrandMapper">

	
	<resultMap type="com.zm.goods.pojo.BrandEntity" id="entity">
		<id column="id" property="id"/>
		<result column="brand_id" property="brandId"/>
		<result column="brand" property="brand" />
		<result column="attr" property="attr"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="opt" property="opt"/>
		<result column="brand_logo" property="brandLogo"/>
		<result column="brand_synopsis" property="brandSynopsis"/>
		<result column="brand_name_cn" property="brandNameCn"/>
		<result column="brand_name_en" property="brandNameEn"/>
		<result column="country" property="country"/>
	</resultMap>

	
	<select id="selectById" parameterType="Object" resultMap="entity">
		select * from goods_category_brand where id = #{id} 
	</select>
	
	<select id="selectAll" parameterType="Object" resultMap="entity">
		select * from goods_category_brand
	</select>
	
	<select id="selectForPage" parameterType="Object" resultMap="entity">
		select * from goods_category_brand where 1=1 
		<if test="brand !=null and brand!=''">
			and brand like concat('%',#{brand},'%') 
		</if>
		<if test="brandNameEn !=null and brandNameEn !=''">
			and brand_name_en like concat('%',#{brandNameEn},'%') 
		</if>
		<if test="brandNameCn !=null and brandNameCn !=''">
			and brand_name_cn like concat('%',#{brandNameCn},'%') 
		</if>
		<if test="country !=null and country !=''">
			and country like concat('%',#{country},'%') 
		</if>
		<if test="id > 0">
			and id = #{id} 
		</if>
	</select>
	
	<insert id="insert" parameterType="Object">
		insert into goods_category_brand value (#{id},#{brandId},#{brand},#{attr},now(),now(),#{opt}
		,#{brandLogo},#{brandSynopsis},#{brandNameCn},#{brandNameEn},#{country})
	</insert>
	
	<update id="update" parameterType="Object">
		update goods_category_brand set brand = #{brand},
		opt = #{opt},brand_logo = #{brandLogo},brand_synopsis = #{brandSynopsis},
		brand_name_cn = #{brandNameCn},brand_name_en = #{brandNameEn},country = #{country},
		where brand_id = #{brandId}
	</update>
	
	<delete id="delete" parameterType="Object">
		delete from goods_category_brand where brand_id = #{brandId}
	</delete>
	
	<select id="checkBrandJoinGoodsList" parameterType="Object" resultMap="entity">
		select a.* from goods_category_brand a
		inner join kj_goods b on a.brand_id = b.brand_id where a.brand_id = #{brandId} limit 0,1
	</select>
</mapper>