<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.goods.bussiness.dao.CatalogMapper">


	<resultMap type="com.zm.goods.pojo.FirstCatalogEntity" id="entity">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="first_id" property="firstId" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<collection property="seconds"
			ofType="com.zm.goods.pojo.SecondCatalogEntity">
			<id column="secondId" property="id" jdbcType="INTEGER"/>
			<result column="second_id" property="secondId" jdbcType="VARCHAR"/>
			<result column="first_id" property="firstId" jdbcType="VARCHAR"/>
			<result column="secondName" property="name" jdbcType="VARCHAR"/>
			<collection property="thirds"
				ofType="com.zm.goods.pojo.ThirdCatalogEntity">
				<id column="thirdId" property="id" jdbcType="INTEGER"/>
				<result column="second_id" property="secondId" jdbcType="VARCHAR"/>
				<result column="third_id" property="thirdId" jdbcType="VARCHAR"/>
				<result column="thirdName" property="name" jdbcType="VARCHAR"/>
			</collection>
		</collection>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.FirstCatalogEntity" id="first">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="first_id" property="firstId" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.SecondCatalogEntity" id="second">
		<id column="secondId" property="id" jdbcType="INTEGER"/>
		<result column="second_id" property="secondId" jdbcType="VARCHAR"/>
		<result column="first_id" property="firstId" jdbcType="VARCHAR"/>
		<result column="secondName" property="name" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.ThirdCatalogEntity" id="third">
		<id column="thirdId" property="id" jdbcType="INTEGER"/>
		<result column="second_id" property="secondId" jdbcType="VARCHAR"/>
		<result column="third_id" property="thirdId" jdbcType="VARCHAR"/>
		<result column="thirdName" property="name" jdbcType="VARCHAR"/>
	</resultMap>

	<select id="selectFirstAll" resultMap="first">
		select * from goods_first_category
	</select>
	
	<select id="selectSecondByFirstId" resultMap="second">
		select * from goods_second_category where first_id = #{firstId}
	</select>
	
	<select id="selectThirdBySecondId" resultMap="third">
		select * from goods_third_category where second_id = #{secondId}
	</select>
	
	

	<select id="selectAll" resultMap="entity">
		select
		f.id,f.first_id,f.name,s.id as secondId,s.second_id,s.name as secondName,
		t.id as thirdId,t.third_id,t.name as thirdName 
		from goods_first_category f
		left join goods_second_category s on f.first_id = s.first_id
		left join goods_third_category t on t.second_id = s.second_id;
	</select>
	
	<insert id="insertFristCatalog" parameterType="Object">
		insert into goods_first_category value (#{id},#{firstId},#{name},now(),now(),#{opt});
	</insert>

	<insert id="insertSecondCatalog" parameterType="Object">
		insert into goods_second_category value (#{id},#{firstId},#{secondId},#{name},now(),now(),#{opt});
	</insert>
	
	<insert id="insertThirdCatalog" parameterType="Object">
		insert into goods_third_category value (#{id},#{secondId},#{thirdId},#{name},now(),now(),#{opt});
	</insert>
</mapper>