<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.goods.bussiness.dao.CatalogMapper">


	<resultMap type="com.zm.goods.pojo.FirstCatalogEntity" id="entity">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="first_id" property="firstId" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="sort" property="sort" jdbcType="INTEGER"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
		<result column="tag_path" property="tagPath" jdbcType="VARCHAR"/>
		<result column="access_path" property="accessPath" jdbcType="VARCHAR"/>
		<collection property="seconds"
			ofType="com.zm.goods.pojo.SecondCatalogEntity">
			<id column="secondId" property="id" jdbcType="INTEGER"/>
			<result column="second_id" property="secondId" jdbcType="VARCHAR"/>
			<result column="first_id" property="firstId" jdbcType="VARCHAR"/>
			<result column="secondName" property="name" jdbcType="VARCHAR"/>
			<result column="ssort" property="sort" jdbcType="INTEGER"/>
			<result column="sstatus" property="status" jdbcType="INTEGER"/>
			<result column="saccess_path" property="accessPath" jdbcType="VARCHAR"/>
			<collection property="thirds"
				ofType="com.zm.goods.pojo.ThirdCatalogEntity">
				<id column="thirdId" property="id" jdbcType="INTEGER"/>
				<result column="second_id" property="secondId" jdbcType="VARCHAR"/>
				<result column="third_id" property="thirdId" jdbcType="VARCHAR"/>
				<result column="thirdName" property="name" jdbcType="VARCHAR"/>
				<result column="tsort" property="sort" jdbcType="INTEGER"/>
				<result column="tstatus" property="status" jdbcType="INTEGER"/>
				<result column="taccess_path" property="accessPath" jdbcType="VARCHAR"/>
				<result column="is_popular" property="isPopular" jdbcType="INTEGER"/>
			</collection>
		</collection>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.FirstCatalogEntity" id="first">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="first_id" property="firstId" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="access_path" property="accessPath" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.SecondCatalogEntity" id="second">
		<id column="secondId" property="id" jdbcType="INTEGER"/>
		<result column="second_id" property="secondId" jdbcType="VARCHAR"/>
		<result column="first_id" property="firstId" jdbcType="VARCHAR"/>
		<result column="secondName" property="name" jdbcType="VARCHAR"/>
		<result column="access_path" property="accessPath" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.ThirdCatalogEntity" id="third">
		<id column="thirdId" property="id" jdbcType="INTEGER"/>
		<result column="second_id" property="secondId" jdbcType="VARCHAR"/>
		<result column="third_id" property="thirdId" jdbcType="VARCHAR"/>
		<result column="thirdName" property="name" jdbcType="VARCHAR"/>
		<result column="access_path" property="accessPath" jdbcType="VARCHAR"/>
		<result column="is_popular" property="isPopular" jdbcType="INTEGER"/>
	</resultMap>

	<select id="selectFirstAll" resultMap="first">
		select * from goods_first_category
	</select>
	
	<select id="selectSecondByFirstId" resultMap="second">
		select * from goods_second_category where first_id = #{firstId}
	</select>
	
	<select id="selectThirdBySecondId" resultMap="third">
		select * from goods_third_category where second_id = #{secondId}
	</select>
	
	

	<select id="selectAll" resultMap="entity">
		select
		f.id,f.first_id,f.name,f.sort,f.status,f.tag_path,f.access_path,
		s.id as secondId,s.second_id,s.name as secondName,s.sort as ssort,s.status as sstatus,s.access_path as saccess_path,
		t.id as thirdId,t.third_id,t.name as thirdName,t.sort as tsort,t.status as tstatus,t.access_path as taccess_path,t.is_popular  
		from goods_first_category f
		left join goods_second_category s on f.first_id = s.first_id
		left join goods_third_category t on t.second_id = s.second_id
		order by sort,first_id,ssort,second_id,tsort,is_popular,third_id
	</select>
	
	<insert id="insertFristCatalog" parameterType="Object">
		insert into goods_first_category(id,first_id,name,create_time,update_time,opt,sort,status,tag_path,access_path) 
		value (#{id},#{firstId},#{name},now(),now(),#{opt},#{sort},#{status},#{tagPath},#{accessPath});
	</insert>

	<insert id="insertSecondCatalog" parameterType="Object">
		insert into goods_second_category(id,first_id,second_id,name,create_time,update_time,opt,sort,status,access_path) 
		value (#{id},#{firstId},#{secondId},#{name},now(),now(),#{opt},#{sort},#{status},#{accessPath});
	</insert>
	
	<insert id="insertThirdCatalog" parameterType="Object">
		insert into goods_third_category(id,second_id,third_id,name,create_time,update_time,opt,sort,status,access_path) 
		value (#{id},#{secondId},#{thirdId},#{name},now(),now(),#{opt},#{sort},#{status},#{accessPath});
	</insert>
	
	<insert id="updateFirstCatalog" parameterType="Object">
		update  goods_first_category set name = #{name},
		<if test="status != null and status != '' or status == 0">
			status = #{status},
		</if>
		<if test="sort != null and sort != '' or sort == 0">
			sort = #{sort},
		</if>
		<if test="name != null and name != ''">
			name = #{name},
		</if>
		<if test="accessPath != null and accessPath != ''">
			access_path = #{accessPath},
		</if>
		<if test="tagPath != null and tagPath != ''">
			tag_path = #{tagPath},
		</if>
		update_time = now() where first_id = #{firstId}
	</insert>

	<insert id="updateSecondCatalog" parameterType="Object">
		update  goods_second_category set name = #{name},
		<if test="status != null and status != '' or status == 0">
			status = #{status},
		</if>
		<if test="sort != null and sort != '' or sort == 0">
			sort = #{sort},
		</if>
		<if test="name != null and name != ''">
			name = #{name},
		</if>
		<if test="accessPath != null and accessPath != ''">
			access_path = #{accessPath},
		</if>
		update_time = now() where second_id = #{secondId}
	</insert>
	
	<insert id="updateThirdCatalog" parameterType="Object">
		update  goods_third_category set name = #{name},
		<if test="status != null and status != '' or status == 0">
			status = #{status},
		</if>
		<if test="sort != null and sort != '' or sort == 0">
			sort = #{sort},
		</if>
		<if test="name != null and name != ''">
			name = #{name},
		</if>
		<if test="accessPath != null and accessPath != ''">
			access_path = #{accessPath},
		</if>
		update_time = now() where third_id = #{thirdId}
	</insert>
	
		
	<delete id="deleteByFristId" parameterType="Object">
		delete f,s,t from goods_first_category f left join goods_second_category s on s.first_id = f.first_id 
		left join goods_third_category t on t.second_id = s.second_id where f.first_id = #{id}
	</delete>
	
	
	<delete id="deleteBySecondId" parameterType="Object">
		delete s,t from goods_second_category s left join goods_third_category t on t.second_id = s.second_id where s.second_id = #{id}
	</delete>
	
	<delete id="deleteByThirdId" parameterType="Object">
		delete from goods_third_category where third_id = #{id}
	</delete>
	
	<select id="selectSecondAll" resultMap="second">
		select * from goods_second_category
	</select>
	
	<select id="selectThirdAll" resultMap="third">
		select * from goods_third_category
	</select>
	
	<update id="updateFirstCatalogByParam" parameterType="Object">
		update  goods_first_category set
		<if test="sort == -1">
			sort = sort - 1,
		</if>
		<if test="sort == 1">
			sort = sort + 1,
		</if>
		<if test="status == 0 or status == 1">
			status = #{status},
		</if>
		update_time = now() where first_id = #{firstId} 
		<if test="sort == -1">
			and sort > 0
		</if>
	</update>

	<update id="updateSecondCatalogByParam" parameterType="Object">
		update  goods_second_category set
		<if test="sort == -1">
			sort = sort - 1,
		</if>
		<if test="sort == 1">
			sort = sort + 1,
		</if>
		<if test="status == 0 or status == 1">
			status = #{status},
		</if>
		update_time = now() where second_id = #{secondId} 
		<if test="sort == -1">
			and sort > 0
		</if>
	</update>
	
	<update id="updateThirdCatalogByParam" parameterType="Object">
		update  goods_third_category set
		<if test="sort == -1">
			sort = sort - 1,
		</if>
		<if test="sort == 1">
			sort = sort + 1,
		</if>
		<if test="status == 0 or status == 1">
			status = #{status},
		</if>
		<if test="isPopular == 0 or isPopular == 1">
			is_popular = #{isPopular},
		</if>
		update_time = now() where third_id = #{thirdId} 
		<if test="sort == -1">
			and sort > 0
		</if>
	</update>
</mapper>