<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.goods.bussiness.dao.CatalogMapper">


	<resultMap type="com.zm.goods.pojo.FirstCatalogEntity" id="entity">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="first_id" property="firstId" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="sort" property="sort" jdbcType="INTEGER"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
		<result column="tag_path" property="tagPath" jdbcType="VARCHAR"/>
		<result column="access_path" property="accessPath" jdbcType="VARCHAR"/>
		<collection property="seconds"
			ofType="com.zm.goods.pojo.SecondCatalogEntity">
			<id column="secondId" property="id" jdbcType="INTEGER"/>
			<result column="second_id" property="secondId" jdbcType="VARCHAR"/>
			<result column="first_id" property="firstId" jdbcType="VARCHAR"/>
			<result column="secondName" property="name" jdbcType="VARCHAR"/>
			<result column="ssort" property="sort" jdbcType="INTEGER"/>
			<result column="sstatus" property="status" jdbcType="INTEGER"/>
			<result column="saccess_path" property="accessPath" jdbcType="VARCHAR"/>
			<result column="stag_path" property="tagPath" jdbcType="VARCHAR"/>
			<collection property="thirds"
				ofType="com.zm.goods.pojo.ThirdCatalogEntity">
				<id column="thirdId" property="id" jdbcType="INTEGER"/>
				<result column="second_id" property="secondId" jdbcType="VARCHAR"/>
				<result column="third_id" property="thirdId" jdbcType="VARCHAR"/>
				<result column="thirdName" property="name" jdbcType="VARCHAR"/>
				<result column="tsort" property="sort" jdbcType="INTEGER"/>
				<result column="tstatus" property="status" jdbcType="INTEGER"/>
				<result column="taccess_path" property="accessPath" jdbcType="VARCHAR"/>
				<result column="is_popular" property="isPopular" jdbcType="INTEGER"/>
				<result column="ttag_path" property="tagPath" jdbcType="VARCHAR"/>
			</collection>
		</collection>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.FirstCatalogEntity" id="first">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="first_id" property="firstId" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="access_path" property="accessPath" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.SecondCatalogEntity" id="second">
		<id column="secondId" property="id" jdbcType="INTEGER"/>
		<result column="second_id" property="secondId" jdbcType="VARCHAR"/>
		<result column="first_id" property="firstId" jdbcType="VARCHAR"/>
		<result column="secondName" property="name" jdbcType="VARCHAR"/>
		<result column="access_path" property="accessPath" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.ThirdCatalogEntity" id="third">
		<id column="thirdId" property="id" jdbcType="INTEGER"/>
		<result column="second_id" property="secondId" jdbcType="VARCHAR"/>
		<result column="third_id" property="thirdId" jdbcType="VARCHAR"/>
		<result column="thirdName" property="name" jdbcType="VARCHAR"/>
		<result column="access_path" property="accessPath" jdbcType="VARCHAR"/>
		<result column="is_popular" property="isPopular" jdbcType="INTEGER"/>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.CategoryPropertyBindModel" id="categoryPropertyBind">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="property_id" property="propertyId" jdbcType="INTEGER"/>
		<result column="sort" property="sort" jdbcType="INTEGER"/>
		<result column="category_id" property="categoryId" jdbcType="VARCHAR"/>
		<result column="category_type" property="categoryType" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
		<result column="opt" property="opt" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.PropertyEntity" id="allProperty">
		<id column="id" property="id"/>
		<result column="type" property="type"/>
		<result column="name" property="name"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="opt" property="opt"/>
	</resultMap>

	<select id="selectFirstAll" resultMap="first">
		select * from goods_first_category
	</select>
	
	<select id="selectSecondByFirstId" resultMap="second">
		select * from goods_second_category where first_id = #{firstId}
	</select>
	
	<select id="selectThirdBySecondId" resultMap="third">
		select * from goods_third_category where second_id = #{secondId}
	</select>
	
	

	<select id="selectAll" resultMap="entity">
		select
		f.id,f.first_id,f.name,f.sort,f.status,f.tag_path,f.access_path,
		s.id as secondId,s.second_id,s.name as secondName,s.sort as ssort,s.status as sstatus,s.access_path as saccess_path,s.tag_path stag_path,
		t.id as thirdId,t.third_id,t.name as thirdName,t.sort as tsort,t.status as tstatus,t.access_path as taccess_path,t.is_popular,t.tag_path ttag_path  
		from goods_first_category f
		left join goods_second_category s on f.first_id = s.first_id
		left join goods_third_category t on t.second_id = s.second_id
		order by sort,first_id,ssort,second_id,tsort,is_popular,third_id
	</select>
	
	<insert id="insertFristCatalog" parameterType="Object">
		insert into goods_first_category(id,first_id,name,create_time,update_time,opt,sort,status,tag_path,access_path) 
		value (#{id},#{firstId},#{name},now(),now(),#{opt},#{sort},#{status},#{tagPath},#{accessPath});
	</insert>

	<insert id="insertSecondCatalog" parameterType="Object">
		insert into goods_second_category(id,first_id,second_id,name,create_time,update_time,opt,sort,status,access_path,tag_path) 
		value (#{id},#{firstId},#{secondId},#{name},now(),now(),#{opt},#{sort},#{status},#{accessPath},#{tagPath});
	</insert>
	
	<insert id="insertThirdCatalog" parameterType="Object">
		insert into goods_third_category(id,second_id,third_id,name,create_time,update_time,opt,sort,status,access_path,tag_path) 
		value (#{id},#{secondId},#{thirdId},#{name},now(),now(),#{opt},#{sort},#{status},#{accessPath},#{tagPath});
	</insert>
	
	<insert id="updateFirstCatalog" parameterType="Object">
		update  goods_first_category set name = #{name},
		<if test="status != null and status != '' or status == 0">
			status = #{status},
		</if>
		<if test="sort != null and sort != '' or sort == 0">
			sort = #{sort},
		</if>
		<if test="name != null and name != ''">
			name = #{name},
		</if>
		<if test="accessPath != null and accessPath != ''">
			access_path = #{accessPath},
		</if>
		<if test="tagPath != null and tagPath != ''">
			tag_path = #{tagPath},
		</if>
		update_time = now(),opt = #{opt} where first_id = #{firstId}
	</insert>

	<insert id="updateSecondCatalog" parameterType="Object">
		update  goods_second_category set name = #{name},
		<if test="status != null and status != '' or status == 0">
			status = #{status},
		</if>
		<if test="sort != null and sort != '' or sort == 0">
			sort = #{sort},
		</if>
		<if test="name != null and name != ''">
			name = #{name},
		</if>
		<if test="accessPath != null and accessPath != ''">
			access_path = #{accessPath},
		</if>
		<if test="tagPath != null and tagPath != ''">
			tag_path = #{tagPath},
		</if>
		update_time = now(),opt = #{opt} where second_id = #{secondId}
	</insert>
	
	<insert id="updateThirdCatalog" parameterType="Object">
		update  goods_third_category set name = #{name},
		<if test="status != null and status != '' or status == 0">
			status = #{status},
		</if>
		<if test="sort != null and sort != '' or sort == 0">
			sort = #{sort},
		</if>
		<if test="name != null and name != ''">
			name = #{name},
		</if>
		<if test="accessPath != null and accessPath != ''">
			access_path = #{accessPath},
		</if>
		<if test="tagPath != null and tagPath != ''">
			tag_path = #{tagPath},
		</if>
		update_time = now(),opt = #{opt} where third_id = #{thirdId}
	</insert>
	
		
	<delete id="deleteByFristId" parameterType="Object">
		delete f,s,t from goods_first_category f left join goods_second_category s on s.first_id = f.first_id 
		left join goods_third_category t on t.second_id = s.second_id where f.first_id = #{id}
	</delete>
	
	
	<delete id="deleteBySecondId" parameterType="Object">
		delete s,t from goods_second_category s left join goods_third_category t on t.second_id = s.second_id where s.second_id = #{id}
	</delete>
	
	<delete id="deleteByThirdId" parameterType="Object">
		delete from goods_third_category where third_id = #{id}
	</delete>
	
	<select id="selectSecondAll" resultMap="second">
		select * from goods_second_category
	</select>
	
	<select id="selectThirdAll" resultMap="third">
		select * from goods_third_category
	</select>
	
	<update id="updateFirstCatalogByParam" parameterType="Object">
		update  goods_first_category set
		<if test="sort == -1">
			sort = sort - 1,
		</if>
		<if test="sort == 1">
			sort = sort + 1,
		</if>
		<if test="status == 0 or status == 1">
			status = #{status},
		</if>
		update_time = now() where first_id = #{firstId} 
		<if test="sort == -1">
			and sort > 0
		</if>
	</update>

	<update id="updateSecondCatalogByParam" parameterType="Object">
		update  goods_second_category set
		<if test="sort == -1">
			sort = sort - 1,
		</if>
		<if test="sort == 1">
			sort = sort + 1,
		</if>
		<if test="status == 0 or status == 1">
			status = #{status},
		</if>
		update_time = now() where second_id = #{secondId} 
		<if test="sort == -1">
			and sort > 0
		</if>
	</update>
	
	<update id="updateThirdCatalogByParam" parameterType="Object">
		update  goods_third_category set
		<if test="sort == -1">
			sort = sort - 1,
		</if>
		<if test="sort == 1">
			sort = sort + 1,
		</if>
		<if test="status == 0 or status == 1">
			status = #{status},
		</if>
		<if test="isPopular == 0 or isPopular == 1">
			is_popular = #{isPopular},
		</if>
		update_time = now() where third_id = #{thirdId} 
		<if test="sort == -1">
			and sort > 0
		</if>
	</update>
	
	<select id="selectFirstBySecond" resultMap="second">
		select * from goods_second_category where second_id = #{secondId}
	</select>
	
	<select id="selectCatalogInfoByParams" resultMap="entity">
		<if test="catalog == 1">
			select 
			a.id,a.first_id,a.name,a.tag_path
			from goods_first_category a
			where a.first_id = #{id}
		</if>
		<if test="catalog == 2">
			select 
			a.id,a.first_id,a.name,a.tag_path,
			b.id secondId,b.second_id,b.name secondName,b.tag_path stag_path
			from goods_first_category a
			inner join goods_second_category b on a.first_id = b.first_id
			where b.second_id = #{id}
		</if>
		<if test="catalog == 3">
			select 
			a.id,a.first_id,a.name,a.tag_path,
			b.id secondId,b.second_id,b.name secondName,b.tag_path stag_path,
			c.id thirdId,c.third_id,c.name thirdName,c.tag_path ttag_path
			from goods_first_category a
			inner join goods_second_category b on a.first_id = b.first_id
			inner join goods_third_category c on b.second_id = c.second_id
			where c.third_id = #{id}
		</if>
	</select>
	
	<select id="selectJoinPropertyListForPage" resultMap="categoryPropertyBind">
		select * from 
		<if test="propertyType == 1">
			kj_category_property_bind 
		</if>
		<if test="propertyType == 2">
			kj_category_guide_property_bind 
		</if>
		where category_id = #{categoryId}
		and category_type = #{categoryType}
		order by sort,update_time desc
	</select>
	
	<select id="selectAllPropertyListForPage" resultMap="allProperty">
		select * from 
		<if test="propertyType == 1">
			kj_property_name 
		</if>
		<if test="propertyType == 2">
			kj_guide_property_name 
		</if>
		order by update_time desc
	</select>
	
	<insert id="insertCategoryJoinProperty" parameterType="Object">
		INSERT INTO 
		<if test="propertyType == 1">
			kj_category_property_bind 
		</if>
		<if test="propertyType == 2">
			kj_category_guide_property_bind 
		</if>
		VALUES
		<foreach collection="list" item="item" separator=",">
		(#{item.id},#{item.propertyId},#{item.sort},#{item.categoryId},#{item.categoryType},now(),now(),#{item.opt})
		ON DUPLICATE KEY UPDATE update_time = now(),opt = #{item.opt}
		</foreach>
	</insert>
	
	<delete id="removeCategoryJoinProperty" parameterType="Object">
		delete from 
		<if test="propertyType == 1">
			kj_category_property_bind 
		</if>
		<if test="propertyType == 2">
			kj_category_guide_property_bind 
		</if>
		where id = #{id}
	</delete>
	
	<update id="updateCategoryJoinProperty" parameterType="Object">
		update 
		<if test="propertyType == 1">
			kj_category_property_bind 
		</if>
		<if test="propertyType == 2">
			kj_category_guide_property_bind 
		</if>
		set
		<if test="sort == -1">
			sort = sort - 1,
		</if>
		<if test="sort == 1">
			sort = sort + 1,
		</if>
		update_time = now() where id = #{id} 
	</update>
	
	<select id="countFirstCategory" parameterType="Object" resultType="java.lang.Integer">
		select count(*) from kj_goods where first_category = #{id}
	</select>
	
	<select id="countSecondCategory" parameterType="Object" resultType="java.lang.Integer">
		select count(*) from kj_goods where second_category = #{id}
	</select>
	
	<select id="countthirdCategory" parameterType="Object" resultType="java.lang.Integer">
		select count(*) from kj_goods where third_category = #{id}
	</select>
</mapper>