<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.goods.bussiness.dao.GoodsMapper">


	<resultMap type="com.zm.goods.pojo.GoodsItem" id="goodsItem">
		<id column="goodsId" property="goodsId" jdbcType="INTEGER" />
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
		<result column="customGoodsName" property="customGoodsName"
			jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="is_popular" property="popular" jdbcType="INTEGER" />
		<result column="is_hot" property="hot" jdbcType="INTEGER" />
		<result column="is_good" property="good" jdbcType="INTEGER" />
		<result column="is_choice" property="choice" jdbcType="INTEGER" />
		<result column="index_status" property="indexStatus" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="opt" property="opt" jdbcType="VARCHAR" />
		<result column="brand_id" property="brandId" jdbcType="INTEGER" />
		<result column="goodsName" property="goodsName" jdbcType="VARCHAR" />
		<result column="brand" property="brand" jdbcType="VARCHAR" />
		<result column="origin" property="origin" jdbcType="VARCHAR" />
		<result column="taxrate" property="taxrate" jdbcType="NUMERIC" />
		<result column="unit" property="unit" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap type="com.zm.goods.pojo.GoodsFile" id="goodsFile">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="goods_id" property="goodsId" jdbcType="INTEGER" />
		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="suffix" property="suffix" jdbcType="VARCHAR" />
		<result column="storeType" property="storeType" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="opt" property="opt" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap type="com.zm.goods.pojo.GoodsSpecs" id="goodsSpecs">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="goodsId" property="goodsId" jdbcType="INTEGER" />
		<result column="item_id" property="itemId" jdbcType="VARCHAR" />
		<result column="item_code" property="itemCode" jdbcType="VARCHAR" />
		<result column="sku" property="sku" jdbcType="VARCHAR" />
		<result column="is_promotion" property="promotion" jdbcType="INTEGER" />
		<result column="info" property="info" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="opt" property="opt" jdbcType="VARCHAR" />
		<collection property="priceList" ofType="com.zm.goods.pojo.GoodsPrice">
			<id column="price_id" property="id" jdbcType="INTEGER" />
			<result column="item_id" property="itemId" jdbcType="VARCHAR" />
			<result column="min" property="min" jdbcType="INTEGER" />
			<result column="max" property="max" jdbcType="INTEGER" />
			<result column="price" property="price" jdbcType="NUMERIC" />
			<result column="vip_price" property="vipPrice" jdbcType="NUMERIC" />
			<result column="discount" property="discount" jdbcType="NUMERIC" />
			<result column="sub_create_time" property="createTime" jdbcType="VARCHAR" />
			<result column="sub_update_time" property="updateTime" jdbcType="VARCHAR" />
			<result column="sub_opt" property="opt" jdbcType="VARCHAR" />
		</collection>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.PriceContrast" id="priceConstrast">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="item_id" property="itemId" jdbcType="VARCHAR" />
		<result column="sh_price" property="sh_price" jdbcType="NUMERIC" />
		<result column="bj_price" property="bj_price" jdbcType="NUMERIC" />
		<result column="price" property="price" jdbcType="NUMERIC" />
		<result column="reserve" property="reserve" jdbcType="NUMERIC" />
		<result column="contrast_time" property="contrastTime" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="opt" property="opt" jdbcType="VARCHAR" />
	</resultMap>

	<select id="listBigTradeGoods" parameterType="Object" resultMap="goodsItem">
		select gi.id as goodsId, gb.id,gi.goods_name as customGoodsName,
		gi.status,gb.goods_name,
		gb.brand_id,gb.brand,gb.origin from goods_item
		gi left join goods_base gb on gi.base_id = gb.id
		left join goods_category_brand gcb on gb.brand_id = gcb.id where 1=1
		<if test="type != null and type != ''">
			and gcb.type = #{type} and gi.type = #{type,jdbcType = INTEGER}
		</if>
		<if test="categoryId != null and categoryId != ''">
			and gcb.third_category = #{categoryId,jdbcType = INTEGER}
		</if>
		<if test="goodsId != null and goodsId != ''">
			and gi.id = #{goodsId, jdbcType = INTEGER}
		</if>
	</select>

	<select id="listGoodsFile" parameterType="Object" resultMap="goodsFile">
		select * from goods_file where type = #{type, jdbcType = INTEGER}
		and goods_id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item,jdbcType = INTEGER}
		</foreach>
	</select>

	<select id="listGoodsSpecs" parameterType="Object" resultMap="goodsSpecs">
		select gs.id,gs.item_id,gs.goods_id as goodsId,gs.info,gs.item_code,gs.sku,gs.is_promotion,gs.create_time,gs.update_time,
		gs.opt,gp.id as price_id,gp.min,gp.max,gp.price,gp.vip_price,gp.discount,gp.create_time as sub_create_time,
		gp.update_time as sub_update_time,gp.opt as sub_opt from goods_specs gs left join goods_price gp on 
		gs.item_id = gp.item_id where gs.goods_id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item,jdbcType = INTEGER}
		</foreach>
	</select>
	
	<select id="listPriceContrast" parameterType="Object" resultMap="priceConstrast">
		select * from goods_price_contrast where item_id = #{itemId}
		<if test="startTime != null and startTime !=''">
			and contrast_time &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and contrast_time &lt;= #{endTime}
		</if>
	</select>
	
	<select id="getGoodsSpecs"  parameterType="Object" resultMap="goodsSpecs">
		select gs.id,gs.info,gs.item_id,gs.goods_id as goodsId,gs.item_code,gs.sku,gs.is_promotion,gs.create_time,gs.update_time,
		gs.opt,gp.id as price_id,gp.min,gp.max,gp.price,gp.vip_price,gp.discount,gp.create_time as sub_create_time,
		gp.update_time as sub_update_time,gp.opt as sub_opt from goods_specs gs left join goods_price gp on 
		gs.item_id = gp.item_id where gs.item_id = #{item_id} 
	</select>

</mapper>