<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.goods.bussiness.dao.GoodsTagMapper">


	<resultMap type="com.zm.goods.pojo.GoodsTagEntity" id="tag">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="tag_name" property="tagName" jdbcType="VARCHAR"/>
		<result column="specs_tp_id" property="specsTpId" jdbcType="VARCHAR"/>
		<result column="tag_fun_id" property="tagFunId" jdbcType="INTEGER"/>
		<result column="priority" property="priority" jdbcType="INTEGER"/>
		<result column="description" property="description" jdbcType="VARCHAR"/>
		<result column="tag_ratio" property="tagRatio" jdbcType="INTEGER"/>
		<result column="createTime" property="createTime" jdbcType="VARCHAR"/>
		<result column="updateTime" property="updateTime" jdbcType="VARCHAR"/>
		<result column="opt" property="opt" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.GoodsTagBindEntity" id="tagBind">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="tag_id" property="tagId" jdbcType="INTEGER"/>
		<result column="specs_tp_id" property="specsTpId" jdbcType="VARCHAR"/>
		<result column="createTime" property="createTime" jdbcType="VARCHAR"/>
		<result column="updateTime" property="updateTime" jdbcType="VARCHAR"/>
		<result column="opt" property="opt" jdbcType="VARCHAR"/>
	</resultMap>
	
	<select id="listGoodsTagBySpecsTpIds" parameterType="Object" resultMap="tag">
		select gt.*,gtb.specs_tp_id,tag_fun_id from goods_tag gt left join kj_goods_tag_bind gtb on gt.id = gtb.tag_id 
		where gtb.specs_tp_id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	
	<select id="listCutOrderItemIds" resultType="java.lang.String">
		select gtb.specs_tp_id from goods_tag gt left join kj_goods_tag_bind gtb on gt.id = gtb.tag_id 
		where gt.tag_fun_id = 1
	</select>
	
	<insert id="batchInsert" parameterType="Object">
		insert ignore into kj_goods_tag_bind(specs_tp_id,tag_id,create_time,opt) value 
		<foreach collection="list" item="item" separator="," open="" close="">
			(#{item.specsTpId},#{item.tagId},now(),#{item.opt})
		</foreach>
	</insert>
	
	<select id="listGoodsTagBindBySpecsTpIdList" resultMap="tagBind">
		select * from kj_goods_tag_bind
		where specs_tp_id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	
	<select id="listGoodsTagByTagIds" parameterType="Object" resultMap="tag">
		select * from goods_tag where id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	
	<delete id="deleteGoodsTagBindByIds" parameterType="Object">
		delete from kj_goods_tag_bind where id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
</mapper>