<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.goods.bussiness.dao.GoodsItemMapper">

	
	<resultMap type="com.zm.goods.pojo.GoodsExtensionEntity" id="goodsExtension">
		<id column="id" property="id"/>
		<result column="goods_id" property="goodsId" />
		<result column="goods_name" property="goodsName"/>
		<result column="goods_path" property="goodsPath"/>
		<result column="brand" property="brand"/>
		<result column="specs" property="specs"/>
		<result column="origin" property="origin"/>
		<result column="custom" property="custom"/>
		<result column="shelf_life" property="shelfLife"/>
		<result column="reason" property="reason"/>
		<result column="remark" property="remark"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="opt" property="opt"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.GoodsPriceRatioEntity" id="goodsPriceRatioBase">
		<id column="id" property="id"/>
		<result column="item_id" property="itemId" />
		<result column="ratio_platform_id" property="ratioPlatformId"/>
		<result column="ratio_platform_name" property="ratioPlatformName"/>
		<result column="ratio_price" property="ratioPrice"/>
		<result column="evaluate_qty" property="evaluateQty"/>
		<result column="sales_volume" property="salesVolume"/>
		<result column="status" property="status"/>
		<result column="grab_address" property="grabAddress"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="opt" property="opt"/>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.GoodsRatioPlatformEntity" id="goodsRatioPlatformBase">
		<id column="id" property="id"/>
		<result column="ratio_platform_name" property="ratioPlatformName" />
		<result column="is_use" property="isUse"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="opt" property="opt"/>
	</resultMap>
	
	<insert id="insertFiles" parameterType="Object">
		insert into goods_file 
		(goods_id,path,store_type,type,create_time,update_time,opt)
		values
		<foreach collection="list" item="item"  index="index" separator=",">
		(#{item.goodsId},#{item.path},0,0,now(),now(),#{item.opt})
		</foreach>
		ON DUPLICATE KEY UPDATE update_time = now()
	</insert>
	
	<update id="updateFiles" parameterType="Object">
		update goods_file set path = #{path},update_time = now(),opt = #{opt}
		where id = #{id}
	</update>
	
	<update id="updateFilesBatch" parameterType="Object">
		<foreach collection="list" item="item" separator=";">
			update goods_file set path = #{item.path},update_time = now(),opt = #{item.opt}
			where id = #{item.id}
		</foreach>
	</update>
	
	<insert id="insertStockForBatch" parameterType="Object">
		insert ignore into goods_stock 
		(item_id,qpQty,fxQty,defQty,lockedQty,frozenQty,create_time,update_time)
		value
		<foreach collection="list" item="item" open="" close=""
			separator=",">
			(#{item},0,0,0,0,0,now(),now())
		</foreach>
	</insert>
	
	<delete id="deleteListFiles" parameterType="Object">
		delete from goods_file where id in 
		<foreach collection="list" item="item" open="(" close=")"
			separator=",">
			#{item.id}
		</foreach>
	</delete>
	
	<select id="selectGoodsExtensionInfo" parameterType="Object" resultMap="goodsExtension">
		select gel.*
		from goods_extension_label gel
		where 1=1
		<if test="goodsName!=null and goodsName!=''">
			and gel.goods_name like concat('%',#{goodsName},'%') 
		</if>
		<if test="goodsId!=null and goodsId !=''">
			and gel.goods_id = #{goodsId} 
		</if>
	</select>
	
	<insert id="updateOrInsertGoodsExtension" parameterType="object">
		INSERT INTO goods_extension_label 
		(goods_id,goods_path,goods_name,brand,specs,origin,custom,shelf_life,reason,remark,create_time,update_time,opt) 
		VALUES (#{goodsId},#{goodsPath},#{goodsName},#{brand},#{specs},#{origin},#{custom},#{shelfLife},#{reason},#{remark},now(),now(),#{opt})
		ON DUPLICATE KEY UPDATE goods_path = #{goodsPath},goods_name = #{goodsName},brand = #{brand},
		specs = #{specs},origin = #{origin},custom = #{custom},shelf_life = #{shelfLife},reason = #{reason},
		remark = #{remark},update_time = now(),opt = #{opt}
	</insert>
	
	<select id="selectGoodsRatioPlatformForPage" parameterType="Object" resultMap="goodsRatioPlatformBase">
		select grp.*
		from goods_ratio_platform grp
		where 1=1 and grp.is_use = '0'
		<if test="ratioPlatformName!=null and ratioPlatformName!=''">
			and gpr.ratio_platform_name = #{ratioPlatformName}
		</if>
	</select>
	
	<select id="selectGoodsRatioPlatformForEdit" parameterType="Object" resultMap="goodsRatioPlatformBase">
		select grp.*
		from goods_ratio_platform grp
		where 1=1 and grp.is_use = '0' and grp.id = #{id}
	</select>
	
	<insert id="insertGoodsRatioPlatformInfo" parameterType="object">
		INSERT INTO goods_ratio_platform 
		(ratio_platform_name,is_use,create_time,update_time,opt) 
		VALUES (#{ratioPlatformName},#{isUse},now(),now(),#{opt})
	</insert>
	
	<update id="updateGoodsRatioPlatformInfo" parameterType="Object">
		update goods_ratio_platform set 
		ratio_platform_name = #{ratioPlatformName},
		is_use = #{isUse},update_time=now(),opt = #{opt}
        where id = #{id}
	</update>
	
	<insert id="syncGoodsPriceRatioInfo" parameterType="object">
		INSERT INTO goods_price_ratio 
		(item_id,ratio_platform_id,ratio_price,evaluate_qty,sales_volume,
		status,grab_address,create_time,update_time,opt)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.itemId},#{item.ratioPlatformId},#{item.ratioPrice},#{item.evaluateQty},
			#{item.salesVolume},#{item.status},#{item.grabAddress},now(),now(),#{item.opt})
		</foreach>
		ON DUPLICATE KEY UPDATE 
		ratio_price = VALUES(ratio_price), evaluate_qty = VALUES(evaluate_qty),
		sales_volume = VALUES(sales_volume), status = VALUES(status), 
		grab_address = VALUES(grab_address),	update_time=now(), opt=VALUES(opt)
	</insert>
	
	<update id="updateSpecsTpUpdateTimeBySpecsTpIdList" parameterType="Object">
		update kj_goods_specs_tradepattern set update_time=now() where specs_tp_id in
		<foreach collection="list" item="item" open="(" close=")"
			separator=",">
			#{item}
		</foreach>
	</update>
	
	<insert id="insertGoodsShelveRecord" parameterType="object">
		INSERT INTO goods_shelve_record 
		(create_time,shelve_type,shelve_mode,number,detail) 
		VALUES (now(),#{shelveType},#{shelveMode},#{number},#{detail})
	</insert>
	
</mapper>