<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.goods.bussiness.dao.GoodsMapper">


	<resultMap type="com.zm.goods.pojo.po.GoodsItem" id="goodsItem">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
		<result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="brand_id" property="brandId" jdbcType="INTEGER" />
		<result column="brand" property="brandName" jdbcType="VARCHAR" />
		<result column="origin" property="origin" jdbcType="VARCHAR" />
		<result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
		<result column="detail_path" property="detailPath" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="third_category" property="thirdCategory" jdbcType="VARCHAR" />
		<result column="second_category" property="secondCategory" jdbcType="VARCHAR" />
		<result column="first_category" property="firstCategory" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="opt" property="opt" jdbcType="VARCHAR" />
		<result column="access_path" property="accessPath" jdbcType="VARCHAR" />
		<collection property="goodsFileList" ofType="com.zm.goods.pojo.GoodsFile">
			<id column="file_id" property="id" jdbcType="INTEGER" />
			<result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
			<result column="path" property="path" jdbcType="VARCHAR" />
		</collection>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.GoodsFile" id="goodsFile">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="suffix" property="suffix" jdbcType="VARCHAR" />
		<result column="storeType" property="storeType" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="opt" property="opt" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap type="com.zm.goods.pojo.po.GoodsSpecs" id="goodsSpecs">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="specs_id" property="specsId" jdbcType="VARCHAR" />
		<result column="encode" property="encode" jdbcType="VARCHAR" />
		<result column="conversion" property="conversion" jdbcType="INTEGER" />
		<result column="unit" property="unit" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="weight" property="weight" jdbcType="INTEGER" />
		<result column="info" property="info" jdbcType="VARCHAR" />
		<result column="carton" property="carton" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="opt" property="opt" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.po.GoodsSpecsTradePattern" id="goodsSpecsTp">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="specs_id" property="specsId" jdbcType="VARCHAR" />
		<result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
		<result column="specs_tp_id" property="specsTpId" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="is_free_post" property="freePost" jdbcType="INTEGER" />
		<result column="is_free_tax" property="freeTax" jdbcType="INTEGER" />
		<result column="tag_ratio" property="tagRatio" jdbcType="INTEGER" />
		<result column="increment_tax" property="incrementTax" jdbcType="NUMERIC" />
		<result column="tariff" property="tariff" jdbcType="NUMERIC" />
		<result column="excise_tax" property="exciseTax" jdbcType="NUMERIC" />
		<result column="is_promotion" property="promotion" jdbcType="INTEGER" />
		<result column="discount" property="discount" jdbcType="NUMERIC" />
		<result column="is_welfare" property="welfare" jdbcType="INTEGER" />
		<result column="is_distribution" property="distribution" jdbcType="INTEGER" />
		<result column="is_combinedgoods" property="combinedgoods" jdbcType="INTEGER" />
		<result column="combined_specs_tp_id" property="combinedSpecsTpId" jdbcType="VARCHAR" />
		<result column="distribution_price" property="distributionPrice" jdbcType="NUMERIC" />
		<result column="display" property="display" jdbcType="INTEGER" />
		<result column="retail_price" property="retailPrice" jdbcType="NUMERIC" />
		<result column="vip_price" property="vipPrice" jdbcType="NUMERIC" />
		<result column="line_price" property="linePrice" jdbcType="NUMERIC" />
		<result column="instant_ratio" property="instantRatio" jdbcType="NUMERIC" />
		<result column="sale_num" property="saleNum" jdbcType="INTEGER" />
		<result column="item_id" property="itemId" jdbcType="VARCHAR" />
		<result column="is_fresh" property="fresh" jdbcType="INTEGER" />
		<result column="upshelf_time" property="upshelfTime" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="opt" property="opt" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap type="com.zm.goods.pojo.PriceModel" id="priceModel">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="item_id" property="itemId" jdbcType="VARCHAR" />
		<result column="min" property="min" jdbcType="INTEGER" />
		<result column="max" property="max" jdbcType="INTEGER" />
		<result column="fxprice" property="price" jdbcType="NUMERIC" />
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.vo.GoodsIndustryModel" id="goodsIndustry">
		<id column="id" property="firstId" jdbcType="INTEGER" />
		<result column="first_id" property="id" jdbcType="VARCHAR" />
		<result column="industryName" property="industryName" jdbcType="VARCHAR" />
		<result column="tag_path" property="tagPath" jdbcType="VARCHAR" />
		<collection ofType="com.zm.goods.pojo.vo.GoodsCategoryModel" property="dictList">
			<id column="dictid" property="secondId" jdbcType="INTEGER" />
			<result column="second_id" property="id" jdbcType="VARCHAR" />
			<result column="dictName" property="dictName" jdbcType="VARCHAR" />
			<collection property="entryList" ofType = "com.zm.goods.pojo.vo.GoodsCategoryEnteryModel">
				<id column="entryId" property="thirdId" jdbcType="INTEGER" />
				<result column="third_id" property="id" jdbcType="VARCHAR" />
				<result column="entryName" property="entryName" jdbcType="VARCHAR" />
				<result column="is_popular" property="popular" jdbcType="INTEGER" />
				<result column="ttag_path" property="thirdPicPath" jdbcType="VARCHAR" />
			</collection>
		</collection>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.Tax" id="tax">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="item_id" property="itemId" jdbcType="VARCHAR" />
		<result column="increment_tax" property="incrementTax" jdbcType="NUMERIC" />
		<result column="excise_tax" property="exciseTax" jdbcType="NUMERIC" />
	</resultMap>
	
	<resultMap type="com.zm.goods.processWarehouse.model.WarehouseModel" id="stockModel">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="item_id" property="itemId" jdbcType="VARCHAR" />
		<result column="specs_tp_id" property="specsTpId" jdbcType="VARCHAR" />
		<result column="fxqty" property="fxqty" jdbcType="INTEGER" />
		<result column="frozenqty" property="frozenqty" jdbcType="INTEGER" />
		<result column="lockedqty" property="lockedqty" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.GoodsConvert" id="convert">
		<result column="item_id" property="itemId"/>
		<result column="sku" property="sku"/>
		<result column="conversion" property="conversion"/>
		<result column="carton" property="carton"/>
	</resultMap>
	
	<select id="getTax" parameterType="Object" resultMap="tax">
		select gs.id,gs.item_id,gs.excise_tax,gb.increment_tax from goods_item gs left join goods g on 
		gs.goods_id = g.goods_id 
		left join base gb on g.base_id = gb.id where gs.item_id in
		<foreach collection="list" item="item" open="(" close=")"
			separator=",">
			#{item,jdbcType = VARCHAR}
		</foreach>
	</select>
	
	<select id = "queryGoodsCategory" parameterType="Object" resultMap = "goodsIndustry">
		select gfc.id,gfc.first_id,gfc.name as industryName,gfc.tag_path,gsc.id as dictid,gsc.second_id,gsc.name as dictName,
		gtc.id as entryId,gtc.name as entryName,gtc.third_id,gtc.is_popular,gtc.tag_path as ttag_path    
		from goods_first_category gfc left join goods_second_category gsc on gfc.first_id = gsc.first_id 
		left join goods_third_category gtc on gsc.second_id = gtc.second_id 
		where gfc.status = 1 and gsc.status =1 and gtc.status =1 order by gfc.sort ,gsc.sort ,gtc.sort
	</select>

	
	<select id="getGoodsByGoodsId" parameterType="Object" resultMap="goodsItem">
		select g.id,g.goods_id,g.goods_name, g.description,g.detail_path,g.subtitle,
		g.type,g.third_category,g.first_category,g.second_category,g.access_path,g.origin,
		gf.id as file_id,gf.path,gcb.brand
		from kj_goods g 
		left join goods_file gf on g.goods_id = gf.goods_id 
		left join goods_category_brand gcb on g.brand_id = gcb.id
		where g.is_del = 0 and gf.type = 0 and g.goods_id = #{goodsId}
	</select>
	
	<select id="listGoodsSpecsTpByGoodsId" parameterType="Object" resultMap="goodsSpecsTp">
		select id,specs_tp_id,specs_id,goods_id,status,is_free_post,is_free_tax,tag_ratio,increment_tax,
		tariff,excise_tax,is_promotion,discount,is_distribution,is_welfare,is_combinedgoods,combined_specs_tp_id,
		display,distribution_price,vip_price,retail_price,line_price,instant_ratio,sale_num,item_id,is_fresh,
		upshelf_time from kj_goods_specs_tradepattern where is_del = 0 and goods_id = #{goodsId}
	</select>
	
	<select id="listGoodsSpecsBySpecsIds" parameterType="Object" resultMap="goodsSpecs">
		select id,weight,specs_id,encode,description,unit,info,carton,conversion from kj_specs_goods 
		where is_del = 0 and specs_id in
		<foreach collection="list" item="item" open="(" close=")"
			separator=",">
			#{item,jdbcType = VARCHAR}
		</foreach>
	</select>

	<select id="listGoodsFile" parameterType="Object" resultMap="goodsFile">
		select * from goods_file where type = #{type, jdbcType = INTEGER}
		and
		goods_id in
		<foreach collection="list" item="item" open="(" close=")"
			separator=",">
			#{item,jdbcType = VARCHAR}
		</foreach>
		order by id asc
	</select>
	
	<select id="getGoodsSpecs" parameterType="Object" resultMap="goodsSpecs">
		select gi.id,gi.info,gi.item_id,gi.goods_id,gi.carton,
		gi.item_code,gi.sku,gi.is_promotion,gi.excise_tax,gi.weight,bgp.id as
		price_id,bgp.min,bgp.max,bgp.retail_price as price,bgp.vip_price,gi.discount,
		stock.fxqty as qpqty,
		bgp.delivery_place,gi.status as specsStatus 
		from goods_item gi
		left join goods_stock stock on gi.item_id = stock.item_id 
		left join goods g on gi.goods_id = g.goods_id 
		left join goods_price bgp on gi.item_id = bgp.item_id 
		where gi.status = 1 and gi.is_del = 0 and gi.item_id = #{itemId}
	</select>
	
	<select id="getGoodsSpecsForOrder" parameterType="Object" resultMap="goodsSpecs">
		select gi.id,gi.is_promotion,gi.weight,gi.item_id,gi.goods_id,gi.carton,
		bgp.id as price_id,bgp.min,bgp.max,bgp.retail_price as price,bgp.vip_price,gi.discount,
		bgp.delivery_place,b.first_category,b.second_category,b.third_category
		from goods_item gi
		left join goods g on gi.goods_id = g.goods_id 
		left join base b on g.base_id=b.id 
		left join goods_price bgp on gi.item_id = bgp.item_id 
		where gi.status = 1 and gi.is_del = 0 and g.is_del = 0 and gi.item_id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
		<if test="isFx == 'fx'">
			and gi.is_fx = 1
		</if>
	</select>
	
	<select id="getGoodsSpecsForButtJoinOrder" parameterType="Object" resultMap="goodsSpecs">
		select gi.id,gi.weight,gi.item_id,gi.goods_id,bgp.retail_price as price,
		bgp.id as price_id,bgp.min,bgp.max,gi.carton,
		bgp.delivery_place,b.first_category,b.second_category,b.third_category
		from goods_item gi 
		left join goods g on gi.goods_id = g.goods_id 
		left join base b on g.base_id=b.id 
		left join goods_price bgp on 
		gi.item_id = bgp.item_id where gi.item_id = #{itemId} and gi.status = 2 and gi.is_del = 0 and g.is_del = 0
	</select>
	
	<select id="listGoodsSpecsTpBySpecsTpIds" parameterType="Object"
		resultMap="goodsSpecsTp">
		select id,specs_tp_id,specs_id,goods_id,status,is_free_post,is_free_tax,tag_ratio,increment_tax,
		tariff,excise_tax,is_promotion,discount,is_distribution,is_welfare,is_combinedgoods,combined_specs_tp_id,
		display,distribution_price,vip_price,retail_price,line_price,instant_ratio,sale_num,item_id,is_fresh,
		upshelf_time from kj_goods_specs_tradepattern where is_del = 0 and specs_tp_id in
		<foreach collection="list" item="item" open="(" close=")"
			separator=",">
			#{item,jdbcType = VARCHAR}
		</foreach>
	</select>
	
	<!-- 上架操作 -->
	<resultMap type="com.zm.goods.pojo.dto.GoodsSearch" id="goods4Lucene">
		<id column="specs_tp_id" property="specsTpId" jdbcType="VARCHAR" />
		<result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
		<result column="retail_price" property="price" jdbcType="NUMERIC" />
		<result column="upshelf_time" property="upshelfTime" jdbcType="VARCHAR" />
		<result column="first_category" property="firstCategory" jdbcType="VARCHAR" />
		<result column="second_category" property="secondCategory" jdbcType="VARCHAR" />
		<result column="third_category" property="thirdCategory" jdbcType="VARCHAR" />
		<result column="is_welfare" property="welfare" jdbcType="INTEGER" />
		<result column="tag_ratio" property="ratio" jdbcType="INTEGER" />
		<result column="sale_num" property="saleNum" jdbcType="INTEGER" />
		<collection property="guideList" ofType="com.zm.goods.pojo.dto.GuideProperty">
			<id column="id" property="id" jdbcType="Integer" />
			<result column="name" property="name" jdbcType="VARCHAR" />
			<result column="value" property="value" jdbcType="VARCHAR" />
		</collection>
	</resultMap>
	
	<update id="updateTradeSpecsUpshelf" parameterType="Object">
		update kj_goods_specs_tradepattern set status = 2,display=#{display},upshelf_time = now() where specs_tp_id in 
		<foreach collection="list" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
	</update>
	
	<select id="listSpecsNeedToCreateIndex" parameterType="Object" resultMap = "goods4Lucene">
		select g.first_category,g.second_category,g.third_category,g.goods_name,gtp.specs_tp_id,gtp.retail_price,
		gtp.upshelf_time,gtp.is_welfare,gtp.tag_ratio,gtp.sale_num,pn.name,pv.value 
		from kj_goods g 
		left join kj_goods_specs_tradepattern gtp on g.goods_id = gtp.goods_id
		left join kj_specs_goods ksg on gtp.specs_id = ksg.specs_id
		left join kj_goods_property_bind kgpb on gtp.specs_tp_id = kgpb.specs_tp_id
		left join kj_property_value pv on kgpb.property_val_id = pv.id
		left join kj_property_name pn on kgpb.property_id = pn.id 
		where gtp.specs_tp_id in 
		<foreach collection="list" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
		and pn.type = 1
	</select>
	<select id="listGoodsForLuceneUpdateTag" resultMap="goodsItem" parameterType="Object">
		select g.id,g.goods_id,gi.id as specs_id, gt.id as tag_id,gt.tag_name,g.create_time, 
		g.goods_name as customGoodsName ,g.is_popular, g.type,gi.info,bgp.id as price_id, 
		bgp.retail_price as price, gi.discount,gi.is_fx,
		gcb.brand ,g.origin, gb.third_category,gb.second_category,gb.first_category 
		from goods g 
		left join goods_item gi on g.goods_id = gi.goods_id 
		left join goods_tag_bind gtb on gi.item_id = gtb.item_id left join goods_tag gt on gt.id = gtb.tag_id 
		left join base gb on g.base_id=gb.id left join goods_category_brand gcb on gb.brand_id = gcb.brand_id 
		left join goods_price bgp on gi.item_id = bgp.item_id 
		where g.is_del = 0 and gi.status = 1 and g.index_status = 1 and g.goods_id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
				#{item}
		</foreach>
	</select>
	
	<select id="listItemTagForLuceneUpdate" resultMap="goodsSpecs" parameterType="Object">
		select gi.id,gi.item_id,gi.goods_id,gt.id as tag_id,gt.tag_name 
		from goods_item gi left join goods g on gi.goods_id = g.goods_id 
		left join goods_tag_bind gtb on gi.item_id = gtb.item_id 
		left join goods_tag gt on gt.id = gtb.tag_id 
		where g.index_status = 1 and g.is_del = 0 and gi.item_id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
				#{item}
		</foreach>
	</select>
	
	<select id="listItemUpshelvTagForLuceneUpdate " resultMap="goodsSpecs" parameterType="Object">
		select gi.id,gi.item_id,gi.goods_id,gt.id as tag_id,gt.tag_name 
		from goods_item gi 
		left join goods g on gi.goods_id = g.goods_id 
		left join goods_tag_bind gtb on gi.item_id = gtb.item_id 
		left join goods_tag gt on gt.id = gtb.tag_id 
		where gi.status = 1 and gi.goods_id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
				#{item}
		</foreach>
	</select>
	
	<select id="listSpecsForLucene" resultMap = "goodsSpecs" parameterType="Object">
		select gi.id,gi.goods_id,gi.is_fx,gi.info,bgp.id as price_id, bgp.retail_price as price, gi.discount,gt.id as tag_id,gt.tag_name 
		from goods_item gi 
		left join goods_price bgp on gi.item_id = bgp.item_id 
		left join goods_tag_bind gtb on gi.item_id = gtb.item_id 
		left join goods_tag gt on gt.id = gtb.tag_id 
		where gi.is_del = 0 and gi.goods_id in
		<foreach collection="goodsIds" item="item" open="(" close=")" separator=",">
				#{item}
		</foreach>
		and gi.item_id in 
		<foreach collection="itemIds" item="item" open="(" close=")" separator=",">
				#{item}
		</foreach>
	</select>
	
	<update id="updateGoodsDownShelves" parameterType="Object">
		update goods set status = 0, index_status = 0, update_time=now() where goods_id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
				#{item}
		</foreach>
	</update>
	
	<update id="updateGoodsItemDownShelves" parameterType="Object">
		update goods_item set status = 0,is_fx = 0, update_time=now() where item_id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
				#{item}
		</foreach>
	</update>
	
	<!-- 前端搜索界面相关sql -->
	<select id="listGoodsSpecsTpForFrontSearch" parameterType="Object" resultMap="goodsSpecsTp">
		select id,specs_tp_id,specs_id,goods_id,status,is_free_post,is_free_tax,tag_ratio,increment_tax,
		tariff,excise_tax,is_promotion,discount,is_distribution,is_welfare,is_combinedgoods,combined_specs_tp_id,
		display,distribution_price,vip_price,retail_price,line_price,instant_ratio,sale_num,item_id,is_fresh,
		upshelf_time from kj_goods_specs_tradepattern where is_del = 0 
		<if test="isWelfare != null">
			and is_welfare = #{isWelfare} 
		</if>
		and specs_tp_id in 
		<foreach item="id" index="index" collection="list" open="("
			separator="," close=")">
			#{id}
		</foreach>
		<if test="sortList != null and sortList.size > 0">
		order by 
			<foreach item="sort" index="index" collection="sortList" open=""
				separator="," close="">
				${sort.sortField} ${sort.sortRule} 
			</foreach>
			, g.id desc
		</if>
		<if test="sortList == null or sortList.size == 0">
			order by tag_ratio desc, g.id desc
		</if>
	</select>
	
	<select id="listGoodsItemByGoodsIds" parameterType="Object" resultMap = "goodsItem">
		select g.id,g.goods_id,g.goods_name, g.description,g.detail_path,g.subtitle,
		g.type,g.third_category,g.first_category,g.second_category,g.access_path,g.origin,
		gf.id as file_id,gf.path,gcb.brand
		from kj_goods g 
		left join goods_file gf on g.goods_id = gf.goods_id 
		left join goods_category_brand gcb on g.brand_id = gcb.id
		where g.is_del = 0 and gf.type = 0 and g.goods_id in 
		<foreach item="id" index="index" collection="list" open="("
			separator="," close=")">
			#{id}
		</foreach>
	</select>
	
	<!-- end -->
	
	<select id="listWarehouse" parameterType="Object" resultMap = "stockModel">
		select gs.*,gi.specs_tp_id from goods_stock gs left join kj_goods_item gi on gs.item_id = gi.item_id 
		where gs.item_id in
		<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
		</foreach>
	</select>
	
	<select id="listWarehouseBySpecsTpIds" parameterType="Object" resultMap = "stockModel">
		select sum(fxqty),gi.specs_tp_id from goods_stock gs left join kj_goods_item gi on gs.item_id = gi.item_id 
		where gi.specs_tp_id in
		<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
		</foreach>
	</select>
	
	<update id="updateStock" parameterType="Object">
		<foreach collection="list" item="item" index="index" open=""
			close="" separator=";" >
			update goods_stock
			<set>
				fxqty = fxqty - #{item.frozenqty},
				frozenqty = frozenqty + #{item.frozenqty}, update_time=now()
			</set>
			where item_id = #{item.itemId, jdbcType=VARCHAR}
		</foreach>
	</update>
	
	<update id="updateStockBack" parameterType="Object">
		<foreach collection="list" item="item" index="index" open=""
			close="" separator=";">
			update goods_stock
			<set>
				fxqty = ifnull(fxqty,0) + #{item.quantity},
				frozenqty = ifnull(frozenqty,0) - #{item.quantity}, update_time=now()
			</set>
			where item_id = #{item.itemId}
		</foreach>
	</update>
	
	<select id="getGoodsIdBySpecsTpId" parameterType="Object" resultType="java.lang.String">
		select goods_id from kj_goods_specs_tradepattern
		where specs_tp_id = #{specsTpId} 
	</select>
	
	<update id="updateThirdWarehouseStock" parameterType="Object">
		<foreach collection="list" item="item" index="index" open=""
			close="" separator=";">
			insert into goods_stock (item_id,qpqty,fxqty) values (#{item.itemId},#{item.quantity},#{item.quantity})
			ON DUPLICATE KEY UPDATE 
			qpqty = #{item.quantity},fxqty = #{item.quantity}, update_time=now()
		</foreach>
	</update>
	
	<insert id="saveThirdGoods" parameterType="Object">
		INSERT IGNORE INTO
		third_goods
		(supplier_id,supplier_name,sku,item_code,goods_name,brand,weight,origin,stock,min,max,status,create_time)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.supplierId},#{item.supplierName},#{item.sku},#{item.itemCode},#{item.goodsName},#{item.brand},#{item.weight},#{item.origin},#{item.stock},#{item.min},#{item.max},0,now())
		</foreach>
	</insert>
	
	<resultMap type="com.zm.goods.pojo.OrderBussinessModel" id="orderBussinessModel">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="item_id" property="itemId" jdbcType="VARCHAR" />
		<result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
		<result column="item_code" property="itemCode" jdbcType="VARCHAR" />
		<result column="sku" property="sku" jdbcType="VARCHAR" />
	</resultMap>
	<select id="checkStock" parameterType="Object" resultMap="orderBussinessModel">
		select i.id, i.item_id,i.sku,i.item_code,g.supplier_id from goods_item i left join goods g on i.goods_id = g.goods_id 
		where g.supplier_id != 1 and i.status = 2
	</select>
	
	<select id="checkStockByItemIds" parameterType="Object" resultMap="orderBussinessModel">
		select i.id, i.item_id,i.sku,i.item_code,g.supplier_id from goods_item i left join goods g on i.goods_id = g.goods_id 
		where i.item_id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	
	<select id="countUpShelvesStatus" parameterType="Object" resultType="com.zm.goods.pojo.bo.ItemCountBO">
		select count(*) as count,goods_id as itemId from goods_item where status = 1 and goods_id in
		<foreach collection="list" item="item" open="(" close=")"
			separator=",">
			#{item,jdbcType = VARCHAR}
		</foreach>
		group by goods_id
	</select>
	
	<select id="listFirstCategory" parameterType="Object" resultType = "java.lang.String">
		select distinct b.first_category from goods g left join base b on g.base_id = b.id where g.goods_id in
		<foreach collection="list" item="item" open="(" close=")"
			separator=",">
			#{item,jdbcType = VARCHAR}
		</foreach>
	</select>
	
	<select id="listSecondCategory" parameterType="Object" resultType = "java.lang.String">
		select distinct b.second_category from goods g left join base b on g.base_id = b.id where g.goods_id in
		<foreach collection="list" item="item" open="(" close=")"
			separator=",">
			#{item,jdbcType = VARCHAR}
		</foreach>
	</select>
	
	<select id="listThirdCategory" parameterType="Object" resultType = "java.lang.String">
		select distinct b.third_category from goods g left join base b on g.base_id = b.id where g.goods_id in
		<foreach collection="list" item="item" open="(" close=")"
			separator=",">
			#{item,jdbcType = VARCHAR}
		</foreach>
	</select>
	
	<select id="listSkuAndConversionByItemId" parameterType="Object" resultMap="convert">
		select item_id, sku,conversion,carton from goods_item where item_id in
		<foreach collection="list" item="item" open="(" close=")"
			separator=",">
			#{item}
		</foreach>
	</select>
	
	<select id="listCategoryByGoodsIds" parameterType="Object" resultType="com.zm.goods.pojo.bo.CategoryBO">
		select b.id,b.first_category as firstId,b.second_category as secondId,b.third_category as thirdId from 
		goods g left join base b on g.base_id = b.id where g.goods_id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach> 
	</select>
	
	<update id="updateFirstCategory" parameterType="Object">
		update goods_first_category set status = #{status} where status = #{cstatus} and first_id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach> 
	</update>
	
	<update id="updateSecondCategory" parameterType="Object">
		update goods_second_category set status = #{status} where status = #{cstatus} and second_id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach> 
	</update>
	
	<update id="updateThirdCategory" parameterType="Object">
		update goods_third_category set status = #{status} where status = #{cstatus} and third_id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach> 
	</update>
	
	<select id="listHideFirstCategory" parameterType="Object" resultType="java.lang.String">
		select distinct b.first_category from goods g 
		left join base b on g.base_id = b.id 
		where g.status = 1 and b.first_category in 
		<foreach collection="set" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach> 
	</select>
	
	<select id="listHideSecondCategory" parameterType="Object" resultType="java.lang.String">
		select distinct b.second_category from goods g 
		left join base b on g.base_id = b.id 
		where g.status = 1 and b.second_category in 
		<foreach collection="set" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach> 
	</select>
	
	<select id="listHideThirdCategory" parameterType="Object" resultType="java.lang.String">
		select distinct b.third_category 
		from goods g 
		left join base b on g.base_id = b.id 
		where g.status = 1 and b.third_category in 
		<foreach collection="set" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach> 
	</select>
	
	<select id="countGoodsBySupplierIdAndItemId" parameterType="Object" resultType="java.lang.Integer">
		select count(*) from goods g left join goods_item gi on g.goods_id = gi.goods_id 
		where g.supplier_id = #{supplierId} and item_id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach> 
	</select>
	
	<select id="getOrderGoodsType" parameterType="Object" resultType="java.lang.Integer">
		select distinct g.type from goods g left join goods_item gi on g.goods_id = gi.goods_id 
		where g.supplier_id = #{supplierId} and item_id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach> 
	</select>
	
	<insert id="insertGoodsLifeCycleBatch" parameterType="Object">
		insert into goods_life_cycle(item_id,status,is_fx,remark,create_time,ip) values 
		<foreach collection="list" item="item" separator="," >
			(#{item.itemId},#{item.status},#{item.isFx},#{item.remark},now(),#{item.ip})
		</foreach>
	</insert>
	
	<select id="getGoodsItemByGoodsIdForGoodsBillboard" parameterType="Object" resultMap="goodsItem">
		select g.id,g.goods_id,g.goods_name as customGoodsName, g.type, min(bgp.retail_price) as price, 
		i.id as specs_id,bgp.id as price_id 
		from goods g 
		left join goods_item i on g.goods_id = i.goods_id 
		left join goods_price bgp on i.item_id = bgp.item_id 
		where g.goods_id = #{goodsId}
	</select>
	
	<select id="listGoodsByGoodsIds" parameterType="Object" resultMap="goodsItem">
		select id,goods_id,goods_name as customGoodsName, type, access_path, origin from goods where goods_id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	
</mapper>