<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.goods.bussiness.dao.MallMapper">


	<resultMap type="com.zm.goods.pojo.PopularizeDict" id="dict">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="enname" property="enname"/>
		<result column="first_category" property="firstCategory"/>
		<result column="type" property="type"/>
		<result column="picPath1" property="picPath1"/>
		<result column="picPath2" property="picPath2"/>
		<result column="picPath3" property="picPath3"/>
		<result column="description" property="description"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="opt" property="opt"/>
		<result column="href" property="href"/>
		<association property="layout" javaType="com.zm.goods.pojo.Layout">
			<result column="is_show" property="show"/>
			<result column="page_type" property="pageType"/>
		</association>
	</resultMap>
	
	<resultMap type="com.zm.goods.pojo.DictData" id="data">
		<id column="id" property="id"/>
		<result column="dictId" property="dictId"/>
		<result column="href" property="href"/>
		<result column="picPath" property="picPath"/>
		<result column="title" property="title"/>
		<result column="goodsId" property="goodsId"/>
		<result column="specs" property="specs"/>
		<result column="origin" property="origin"/>
		<result column="description" property="description"/>
		<result column="price" property="price"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="opt" property="opt"/>
	</resultMap>

	
	<select id="selectDictById" parameterType="Object" resultMap="dict">
		select d.*,l.is_show,l.page_type from popularize_dict_${centerId} d left join layout_${centerId} l on l.id = d.layout_id where d.id = #{id}
	</select>
	
	<select id="selectDataById" parameterType="Object" resultMap="data">
		select * from popularize_data_${centerId} where id = #{id}
	</select>
	
	<select id="selectDictForPage" parameterType="Object" resultMap="dict">
		select d.*,l.is_show,l.page_type from popularize_dict_${centerId} d left join layout_${centerId} l on l.id = d.layout_id where l.code = 'module_00024' or code='module_00009'
	</select>
	
	<select id="selectDataForPage" parameterType="Object" resultMap="data">
		select * from popularize_data_${centerId} where dictId = #{dictId}
	</select>
	
	<select id="selectDataAll" parameterType="Object" resultMap="data">
		select d.* from popularize_data_${centerId} d left join popularize_dict_${centerId} t on d.dictId = t.id
		left join layout_${centerId} l on l.id = t.layout_id where l.code = #{code}
		<if test="pageType!=null"></if>
		 and l.page_type = #{pageType}
	</select>
	
	<insert id="insertDict" useGeneratedKeys="true" keyProperty="id" parameterType="Object">
		insert into popularize_dict_${centerId} (layout_id,name,href,type,enname,first_category,picPath1,picPath2,picPath3,description,create_time,update_time,opt)
		value
		(#{layoutId},#{name},#{href},#{type},#{enname},#{firstCategory},#{picPath1},#{picPath2},#{picPath3},#{description},now(),now(),#{opt})
	</insert>
	
	<insert id="insertLayout" useGeneratedKeys="true" keyProperty="id" parameterType="Object" >
		insert into layout_${centerId} 
		(page,code,type,page_type,is_show,description,create_time,update_time,opt)
		value 
		(#{page},#{code},#{type},#{pageType},#{show},#{description},now(),now(),opt);
	</insert>
	
	
	<insert id="insertDataBatch"  parameterType="Object" >
		insert into popularize_data_${centerId}
		(dictId,title,origin,goodsId,href,price,picPath,create_time,update_time)
		values
		<foreach collection="list" item="item"
			separator=",">
			(#{item.dictId},#{item.title},#{item.origin},#{item.goodsId},#{item.href},#{item.price},#{item.picPath},now(),now())
		</foreach>
	</insert>
	
	<insert id="insertData"  parameterType="Object" >
		insert into popularize_data_${centerId}
		(dictId,title,origin,goodsId,href,price,picPath,create_time,description,update_time)
		values
		(#{dictId},#{title},#{origin},#{goodsId},#{href},#{price},#{picPath},now(),#{description},now())
	</insert>
	
	<update id="updateData" parameterType="Object" >
		update popularize_data_${centerId}  set description = #{description},picpath = #{picPath},update_time = now()
		<if test="goodsId!=null and goodsId!=''">
		,goodsId = #{goodsId}
		</if>
		<if test="origin!=null and origin!=''">
		,origin = #{origin}
		</if>
		<if test="title!=null and title!=''">
		,title = #{title}
		</if>
		<if test="price!=null and price!=''">
		,price = #{price}
		</if>
		<if test="picPath!=null and picPath!=''">
		,picPath = #{picPath}
		</if>
		<if test="description!=null and description!=''">
		,description = #{description}
		</if>
		<if test="href!=null and href!=''">
		,href = #{href}
		</if>
		 where id = #{id} 
	</update>
	
	<update id="updateDict" parameterType="Object" >
		update popularize_dict_${centerId}  set update_time = now()
		<if test="description!=null and description!=''">
		,description = #{description}
		</if>
		<if test="picPath1!=null and picPath1!=''">
		,picPath1 = #{picPath1}
		</if>
		<if test="enname!=null and enname!=''">
		,enname = #{enname}
		</if>
		<if test="name!=null and name!=''">
		,name = #{name}
		</if>
		<if test="firstCategory!=null and firstCategory!=''">
		,first_category = #{firstCategory}
		</if>
		<if test="href!=null and href!=''">
		,href = #{href}
		</if>
		 where id = #{id} 
	</update>
	
</mapper>