<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.user.bussiness.dao.GradeMapper">
	<resultMap type="com.zm.user.pojo.Grade" id="grade">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="parent_id" property="parentId" jdbcType="INTEGER" />
		<result column="parent_grade_name" property="parentGradeName"
			jdbcType="VARCHAR" />
		<result column="grade_type" property="gradeType" jdbcType="INTEGER" />
		<result column="grade_level" property="gradeLevel" jdbcType="INTEGER" />
		<result column="grade_name" property="gradeName" jdbcType="VARCHAR" />
		<result column="person_in_charge" property="personInCharge"
			jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="attribute" property="attribute" jdbcType="VARCHAR" />
		<result column="grade_person_in_charge" property="gradePersonInCharge"
			jdbcType="INTEGER" />
		<result column="redirect_url" property="redirectUrl" jdbcType="VARCHAR" />
		<result column="mobile_url" property="mobileUrl" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="opt" property="opt" jdbcType="VARCHAR" />
		<result column="company" property="company" jdbcType="VARCHAR" />
		<result column="person_in_charge_id" property="personInChargeId"
			jdbcType="INTEGER" />
		<result column="store_name" property="storeName" jdbcType="VARCHAR" />
		<result column="contacts" property="contacts" jdbcType="VARCHAR" />
		<result column="contacts_phone" property="contactsPhone"
			jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="district" property="district" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="store_operator" property="storeOperator"
			jdbcType="VARCHAR" />
		<result column="operator_idnum" property="operatorIDNum"
			jdbcType="VARCHAR" />
		<result column="pic1_path" property="picPath1" jdbcType="VARCHAR" />
		<result column="pic2_path" property="picPath2" jdbcType="VARCHAR" />
		<result column="pic3_path" property="picPath3" jdbcType="VARCHAR" />
		<result column="pic4_path" property="picPath4" jdbcType="VARCHAR" />
		<result column="gradeTypeName" property="gradeTypeName" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.zm.user.pojo.ShopEntity" id="shop">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="grade_id" property="gradeId" jdbcType="INTEGER" />
		<result column="head_img" property="headImg" jdbcType="VARCHAR" />
		<result column="aboutus" property="aboutUs" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="attribute" property="attribute" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="opt" property="opt" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap type="com.zm.user.pojo.po.GradeTypePO" id="gradeTypePO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
	</resultMap>

	<update id="update" parameterType="Object">
		update grade set update_time = now()
		<if test="gradeName!=null and gradeName!=''">
			,grade_name = #{gradeName}
		</if>
		<if test="personInCharge!=null and personInCharge !=''">
			,person_in_charge = #{personInCharge}
		</if>
		<if test="gradePersonInCharge !=null and gradePersonInCharge !=''">
			,grade_person_in_charge = #{gradePersonInCharge}
		</if>
		<if test="phone !=null and phone !=''">
			,phone = #{phone}
		</if>
		<if test="company!=null and company!=''">
			,company = #{company}
		</if>
		<if test="redirectUrl!=null and redirectUrl!=''">
			,redirect_url = #{redirectUrl}
		</if>
		<if test="mobileUrl!=null and mobileUrl!=''">
			,mobile_url = #{mobileUrl}
		</if>
		<if test="gradeType!=null and gradeType!=''">
			,grade_type = #{gradeType}
		</if>
		where id = #{id}
	</update>


	<select id="selectById" parameterType="Object" resultMap="grade">
		select
		a.*,b.grade_name as parentGradeName
		,store_name,contacts,contacts_phone,province
		,city,district,address,store_operator,operator_idnum
		,pic1_path,pic2_path,pic3_path,pic4_path
		from grade a
		left join grade b on a.parent_id = b.id
		left join grade_data c on a.id = c.id
		where a.id = #{id}
	</select>

	<select id="selectForPage" parameterType="Object" resultMap="grade">
		select a.*,b.grade_name as parentGradeName ,gt.name as gradeTypeName
		from grade a 
		left join grade b on a.parent_id = b.id 
		left join grade_type c on a.grade_type = c.id where 1=1
		<if test="id != null">
			and (a.id = #{id} or a.parent_id = #{id})
		</if>
		<if test="gradeName != null and gradeName != ''">
			and a.gradeName like CONCAT('%',#{gradeName},'%')
		</if>
		<if test="company != null and company != ''">
			and a.company like CONCAT('%',#{company},'%')
		</if>
	</select>

	<update id="updateGradeData" parameterType="Object">
		update grade_data set
		update_time = now()
		,store_name= #{storeName},contacts=
		#{contacts},contacts_phone= #{contactsPhone}
		,province=
		#{province},city= #{city},district= #{district},address= #{address}
		,store_operator= #{storeOperator},operator_idnum=
		#{operatorIDNum},pic1_path= #{picPath1}
		,pic2_path=
		#{picPath2},pic3_path= #{picPath3},pic4_path = #{picPath4}
		where id =
		#{id}
	</update>

	<select id="selectByGradeId" parameterType="Object" resultMap="shop">
		select a.*
		from grade_config a
		where a.grade_id = #{gradeId}
	</select>

	<insert id="insertGradeConfig" parameterType="Object">
		insert
		into
		grade_config(grade_id,head_img,aboutus,name,create_time,update_time,opt)
		values(#{gradeId},#{headImg},#{aboutUs},#{name},now(),now(),#{opt})
	</insert>

	<update id="updateGradeConfig" parameterType="Object">
		update grade_config
		set update_time = now(),opt= #{opt},
		head_img= #{headImg},aboutus=
		#{aboutUs},name= #{name}
		where grade_id = #{gradeId}
	</update>

	<select id="fuzzyListGrade" parameterType="Object"
		resultType="com.zm.user.pojo.FuzzySearchGrade">
		select id,grade_name as name from grade where FIND_IN_SET(id, getGradeChildLst(#{centerId})) and
		(id like
		CONCAT('%',#{name},'%') or grade_name like CONCAT('%',#{name},'%'))
	</select>

	<insert id="saveGradeType" parameterType="Object">
		insert into
		grade_type(parent_id,name,description,create_time,opt)
		values(#{parentId},#{name},#{description},now(),#{opt})
	</insert>

	<select id="listParentGradeTypeById" parameterType="Object" resultMap="gradeTypePO">
		SELECT T2.id, T2.parent_id,T2.name FROM (SELECT  @r AS _id, 
		(SELECT @r := parent_id FROM grade_type WHERE id = _id) AS parent_id 
        FROM (SELECT @r := #{id}) vars,grade_type h 
		WHERE @r != 0) T1 JOIN grade_type T2 ON T1._id = T2.id
	</select>
	
	<select id="listParentGradeById" parameterType="Object" resultMap="grade">
		SELECT T2.id, T2.parent_id FROM (SELECT  @r AS _id, 
		(SELECT @r := parent_id FROM grade WHERE id = _id) AS parent_id 
        FROM (SELECT @r := #{id}) vars,grade h 
		WHERE @r != 0) T1 JOIN grade T2 ON T1._id = T2.id
	</select>
	
	<select id="listGradeType" resultMap="gradeTypePO">
		select * from grade_type;
	</select>
	
	<select id="listGradeTypeChildren" resultMap="gradeTypePO">
		select * from grade_type where parent_id = #{id};
	</select>
	
	<select id="countGradeByGradeType" parameterType="Object" resultType="java.lang.Integer">
		select count(*) from grade where grade_type = #{id}
	</select>
	
	<delete id="removeGradeType" parameterType="Object">
		delete from grade_type where id = #{id}
	</delete>
	
	<update id="updateGradeType" parameterType="Object">
		update grade_type 
		<set>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test = "description != null and description != ''">
				description = #{description},
			</if>
			update_time = now()
		</set>
		where id = #{id}
	</update>

	<select id="listGrade" resultMap="grade">
		select * from grade
	</select>
	
	<select id="listChildrenGrade" parameterType="Object" resultType="java.lang.String">
		select getGradeChildLst(#{gradeId});
	</select>
	
	<select id="getGradeType" parameterType="Object" resultMap="gradeTypePO">
		select * from grade_type where id = #{id}
	</select>
</mapper>