<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.user.bussiness.dao.GradeFrontMapper">
	<resultMap type="com.zm.user.pojo.GradeConfig" id="gradeConfig">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="grade_id" property="gradeId" jdbcType="INTEGER" />
		<result column="aboutus" property="aboutus" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="head_img" property="headImg" jdbcType="VARCHAR" />
		<result column="shop_extension_flg" property="shopExtensionFlg" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap type="com.zm.user.pojo.Grade" id="grade">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="redirect_url" property="redirectUrl" jdbcType="VARCHAR" />
		<result column="mobile_url" property="mobileUrl" jdbcType="VARCHAR" />
	</resultMap>
	
	
	<select id="getGradeConfig" parameterType="Object" resultMap="gradeConfig">
		select gc.id,gc.grade_id,gc.aboutus,
		gc.head_img,gc.name,g.shop_extension_flg
		from grade_config gc
		left join grade g on gc.grade_id = g.id
		where gc.grade_id = #{gradeId}
	</select>
	
	<select id="getClientUrlById" parameterType="Object" resultType="java.lang.String">
		select redirect_url from grade where id = #{id}
	</select>

	<select id="getMobileUrl" parameterType="Object" resultType="java.lang.String">
		select mobile_url from grade where id = #{id}
	</select>
	
	<select id="getGradeUrl" parameterType="Object" resultMap="grade">
		select id,redirect_url,mobile_url from grade where id = #{id}
	</select>

</mapper>