<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.user.bussiness.dao.PushUserMapper">
	<resultMap type="com.zm.user.pojo.PushUser" id="pushUser">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="grade_id" property="gradeId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="inviter" property="inviter" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="specialty_channel" property="specialtyChannel" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="gradeName" property="gradeName" jdbcType="VARCHAR" />
		<result column="centerId" property="centerId" jdbcType="INTEGER" />
	</resultMap>
	
	
	<insert id="savePushUser" parameterType="Object" >
		insert into push_user(user_id,grade_id,name,inviter,phone,specialty_channel,status,create_time,type)
		values(#{userId},#{gradeId},#{name},#{inviter},#{phone},#{specialtyChannel},#{status},now(),#{type})
	</insert>
	
	<select id="getPushUserById" parameterType="Object" resultMap="pushUser">
		select pu.*,gc.name as gradeName from push_user pu left join grade_config gc on pu.grade_id = gc.grade_id 
		where pu.id = #{id}
	</select>
	
	<select id="listPushUserByGradeId" parameterType="Object" resultMap="pushUser">
		select pu.id,pu.name,pu.status,gc.name as gradeName from 
		push_user pu left join grade_config gc on pu.grade_id = gc.grade_id 
		where pu.grade_id = #{gradeId} and pu.status in(0,2)
	</select>
	
	<update id="updatePushUserStatus" parameterType="Object">
		update push_user set status = #{status} where id = #{id}
	</update>
	
	<select id="countShopPassPushUser" parameterType="Object" resultType="java.lang.Integer">
		select count(*) from push_user where grade_id = #{gradeId} and status = 2
	</select>
	
	<select id="verify" parameterType="Object" resultMap="pushUser">
		select * from push_user where grade_id = #{gradeId} and phone = #{phone}
	</select>
	
	<select id="listBindingShop" parameterType="Object" resultMap="pushUser">
		select pu.grade_id,pu.type,gc.name as gradeName,g.parent_id as centerId 
		from push_user pu left join grade_config gc on pu.grade_id = gc.grade_id  
		left join grade g on gc.grade_id = g.id
		where pu.user_id = #{userId} and pu.status = 2
	</select>

</mapper>