<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.finance.bussiness.dao.RebateMapper">

	

	<insert id="insertCenterRebate" parameterType="Object">
		insert into center_rebate_count 
		(center_id,can_be_presented,already_presented,stay_to_account,refilling,remark,create_time)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.centerId},#{item.canBePresented},#{item.alreadyPresented},#{item.stayToAccount},#{item.refilling},#{item.remark},now())
		</foreach>
		ON DUPLICATE KEY UPDATE can_be_presented = #{item.canBePresented},already_presented = #{item.alreadyPresented},
		stay_to_account = #{item.stayToAccount},refilling = #{item.refilling},remark = #{item.remark},update_time = now()
	</insert>
	
	
	<insert id="insertShopRebate" parameterType="Object">
		insert into shop_rebate_count 
		(shop_id,can_be_presented,already_presented,stay_to_account,remark,create_time)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.shopId},#{item.canBePresented},#{item.alreadyPresented},#{item.stayToAccount},#{item.remark},now())
		</foreach>
		ON DUPLICATE KEY UPDATE can_be_presented = #{item.canBePresented},already_presented = #{item.alreadyPresented},
		stay_to_account = #{item.stayToAccount},remark = #{item.remark},update_time = now()
	</insert>
	
	<insert id="insertPushUserRebate" parameterType="Object">
		insert into push_rebate_count 
		(user_id,shop_id,can_be_presented,already_presented,stay_to_account,remark,create_time)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.shopId},#{item.canBePresented},#{item.alreadyPresented},#{item.stayToAccount},#{item.remark},now())
		</foreach>
		ON DUPLICATE KEY UPDATE can_be_presented = #{item.canBePresented},already_presented = #{item.alreadyPresented},
		stay_to_account = #{item.stayToAccount},remark = #{item.remark},update_time = now()
	</insert>
	
	<insert id="insertRebateDetail" parameterType="Object">
		insert into rebate_detail 
		(order_id,center_id,center_rebate_money,shop_id,shop_rebate_money,user_id,user_rebate_money,remark,create_time)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.orderId},#{item.centerId},#{item.centerRebateMoney},#{item.shopId},#{item.shopRebateMoney},
			#{item.userId},#{item.userRebateMoney},#{item.remark},now())
		</foreach>
	</insert>
	
</mapper>